<!DOCTYPE html>

<html class="main affiliatenetwork">
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>ArgoHost - Hospedagem de sites</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content=""/>
		<meta name="#" content="#" /> <!-- validate bing site ownership -->

		  <link href="Content/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="Content/portal.min4fa6.css" rel="stylesheet" type="text/css" />
      
       
<!--[if lt IE 8]>
  <link href="/Content/portal-ie7.min.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if lt IE 9]>
  <link href="/Content/portal-ie.min.css" rel="stylesheet" type="text/css" />
  <script src="/Scripts/html5shiv.js"></script>
<![endif]-->


<script src="Scripts/jQuery/jquery-1.11.0.min.js" type="text/javascript"></script>
</head>
<body>

 <!-- Small modal e formulario-->
 <!--===============FORM===============-->
 <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
     <center><h3>Painel de Cliente</h3></center>
	 <br>
      <form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  
  <div class="checkbox">
    <label style="font:6pt;">
     Esqueci a senha | Cadastro
    </label>
  </div>
  <button type="button" class="btn btn-success btn-xs">Entrar</button>
  </form>
  <!--===============FORM===============-->
  
    </div>
  </div>
</div>   
<!--Small modal-->
<!--==============================LOGOTIPO========================================-->
 <header id="portal-header" class="">
    <div class="container">
        <a id="portal-logo" href="argohost.net/index.html"></a>
<!--==============================LOGOTIPO========================================-->        

        <!--=====================Chat online==========================-->
        <div class="chat">
        	<img src="Content/images/icones/call37.svg" width="50" height="50">
        </div>    
         <div class="chat">
        	<img src="Content/images/icones/gear24.svg" width="50" height="50">
        </div>    
        	
        <!--=====================Chat online==========================--> 
       
       <!--=====================Pàinel cliente==========================-->
        
       
  		  		  <div class="panel-heading">
      				<h4 class="panel-title">
        				<a data-toggle="modal" data-target=".bs-example-modal-sm" title="Painel do cliente"><div class="rodar"><img src="Content/images/icones/gear24.svg" width="50" height="50"></div></a>
      				</h4>
   				 </div>
    	<div id="collapseOne" class="panel-collapse collapse">
      		<div class="panel-body">
 </div>
   
       <!--=======================Painel cliente========================-->
    <ul class="mobile-menu">
        <li><a href="/portal/en-GB/Home/AboutUs">Sobre</a></li>
        <li><a href="/portal/en-GB/Home/Contact">Contato</a></li>
        <li><a href="/portal/en-GB/Documentation/Api">Documentação</a></li>
        <li><a href="/portal/en-GB/Home/TermsOfService">Termos de serviços</a></li>
        <li><a href="/portal/en-GB/Home/PrivacyAndCookiePolicy">Politica de privacidade</a></li>
    </ul>
    
</header>


        


<script type="text/javascript" src="Scripts/DataLayer/core/skyscanner.api.v2.data.js"></script>

<!--=====================================MENU===============================================-->

<div class="produc-nav-wrap">
    <nav id="portal-product-nav">
       <!-- <ul class="display-list-inline">
            <li><a href="#product-intro">Hospedagem de sites</a></li>
            <li><a href="#api">Serviços de e-mail</a></li>
            <li><a href="#whitelabel">Cloud VPS</a></li>
            <li><a href="#widgets">Serviços</a></li>
            
        </ul>-->
    	
  <div class="container">

              <ul class="nav navbar-nav" #menu>
               <!--===========================================Botão 01===================================================-->
				<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hospedagem de sites <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    	<li><a href="#">Hospede seu site Windows</a></li>
						<li class="divider"></li>
                    	<li><a href="#">Hospede seu site Linux</a></li>
						<li class="divider"></li>
                    	<li><a href="#">Hospede seu site Wordpress</a></li>
                    	<li class="divider"></li>
                    	<li><a href="#">Hospede seu site Joomla</a></li>
						<li class="divider"></li>
                    	<li><a href="#">Hospedagem semi-dedicada</a></li>
                  </ul>
                </li>
			   <!--===========================================Botão 02===================================================-->
				<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Serviços de e-mail <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    	<li><a href="#">Tenha seu e-mail na web</a></li>
						<li class="divider"></li>
                    	<li><a href="#">E-mail personalizado</a></li>
			     </ul>
                </li>
			   <!--===========================================Botão 03===================================================-->
				<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cloud VPS <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                 		<li><a href="#">Para seu site</a></li>
						<li class="divider"></li>
                    	<li><a href="#">Para grandes portais</a></li>
						<li class="divider"></li>
                    	<li><a href="#">Sob demanda</a></li>
                    	<li class="divider"></li>
                    	<li><a href="#">Mini VPS</a></li>
				  </ul>
                </li>
			   <!--===========================================Botão 04===================================================-->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Serviços <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                		<li><a href="#">Web rádio</a></li>
						<li class="divider"></li>
                    	<li><a href="#">E-mail market</a></li>
						<li class="divider"></li>
                    	<li><a href="#">Collocation</a></li>
                    	<li class="divider"></li>
                    	<li><a href="#">Amazon WS</a></li>
						<li class="divider"></li>
                    	<li><a href="#">Jelastic</a></li>
						<li class="divider"></li>
						<li><a href="#">Revenda 2.0</a></li>
						<li class="divider"></li>
						<li><a href="#">Argodrive</a></li>
						<li class="divider"></li>
						<li><a href="#">Sua loja virtual</a></li>
						<li class="divider"></li>
                  </ul>
                </li>
              </ul>
	</div>	
        
    </nav>
</div>
</div>
<!--=====================================MENU===============================================-->

<aside id="portal-product-sidenav">
    <ul>
        <li >
            <a href="#product-intro">
                <div class="sidenav-dot"></div>
                <div class="sidenav-title fade">mudamos</div>
            </a>
        </li>
        <li>
            <a href="#api">
                <div class="sidenav-dot"></div>
                <div class="sidenav-title fade">produtos</div>
            </a>
        </li>
        <li>
            <a href="#whitelabel">
                <div class="sidenav-dot"></div>
                <div class="sidenav-title fade">missão</div>
            </a>
        </li>
        <li>
            <a href="#widgets">
                <div class="sidenav-dot"></div>
                <div class="sidenav-title fade">institucional</div>
            </a>
        </li>
        <li class="hidden">
            <a href="#clients">
                <div class="sidenav-dot"></div>
                <div class="sidenav-title fade">Trusted by</div>
            </a>
        </li>
    </ul>
</aside>

<section class="product-detail-content" id="product-intro" data-speed="5" data-type="background" data-offset="100">
    <div class="container">
        <header class="center">
            <hgroup class="product-headergroup">
                
                <h1>Bem vindos a nova ArgoHost, feita sob medida para vocês.</h1>
            </hgroup>
        </header>
        <section id="product-intro-section">
           
            <ul class="display-list-inline">
                
                <li>
                    <a href="#">
                        <h2>Nova <br>ArgoHost</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. erat nec nisi consequat.</p>

                    </a>
                </li>
                <li>
                    <a href="#" class="bg-light-ocean-verde">
                        <h2>Novo <br>atendimento</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. erat nec nisi consequat.</p>
                    </a>
                </li>
                  <li>
                    <a href="#" class="bg-light-ocean-blue">
                        <h2>Novo <br>meio de vender</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. erat nec nisi consequat.</p>
                    </a>
                </li>
                 <li>
                    <a href="#" class="bg-light-ocean-verdecana">
                        <h2>Nova infraestrutura</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. erat nec nisi consequat.</p>
                    </a>
                </li>
                
            </ul>
            
        </section>
    </div>
</section>

<article class="product-detail-content" id="api" data-speed="10" data-type="background">
    <div class="container product-detail-layout-1">
        <header class="center">
            <hgroup>
                <h1>Principais produtos</h1>
                
                <h2>Hospede seu site com toda a segurança e qualidade que a ArgoHost lhe oferece.</h2>
            </hgroup>
        </header>

        <section class="produtos">
             <div class="product-features">
                 <div class="feature">
                    <span class="ico">
                    	<img src="Content/images/icones/cloud32.svg" width="70" height="70">
                    </span>
                   <h3>Cloud <br>para seu site</h3>
                    
                   <a class="btn btn-danger" href="#">Saiba mais</a> <br>
                  </div>
                <div class="feature">
                    <span class="ico">
                    <img src="Content/images/icones/businessman79.svg" width="70" height="70">
                    </span>
                  <h3>Cloud <br>para portais</h3>
                    
                  <a class="btn btn-danger" href="#">Saiba mais</a> <br>
                </div>
                 <div class="feature">
                    <span class="ico">
                    	<img src="Content/images/icones/reply1.svg" width="70" height="70">
                    </span>
                    <h3>Tenha <br>seu e-mail</h3>
                                      
                    <a class="btn btn-danger" href="#">Saiba mais</a> <br>
                </div>
            </div>
        </section>
    </div>
</article>

<section class="product-detail-photo" id="bg-image-1" data-speed="5" data-type="background" data-offset="-200"></section>

<article class="product-detail-content" id="whitelabel" data-speed="10" data-type="background">
    <div class="container product-detail-layout-2">
        <header class="center">
            <hgroup class="product-headergroup">
                <h1>Missão</h1>
                <h2>A missão da ArgoHost é multiplicar de forma prática e acessível novas tecnologias e soluções para Internet.</h2>
            </hgroup>
        </header> 
      </div>
</article>

<section class="product-detail-photo" id="bg-image-2" data-speed="15" data-type="background" data-offset="-200"></section>

<article class="product-detail-content" id="widgets" data-speed="35" data-type="background">
    <div class="container product-detail-layout-3">
        <header class="center">
            <hgroup class="product-headergroup">
                <h1>Suporte</h1>
                <h2>Na ArgoHost você não fica na mão! Tenha acesso 24 horas a nosso Suporte Técnico através de HelpDesk, Chat ou Telefone.</h2>
            </hgroup>
        </header>       

        <div class="widget-content">

            <section class="widget-builder">
                <article class="widget-basic left-margin-none">
                    <header><a href="#">Small Square <span>300x250px</span></a></header>
                </article>
                <article class="widget-square">
                    <header><a href="#">Large Square <span>400x400px</span></a></header>
                </article>
                <article class="widget-leaderboard">
                    <header><a href="#">Leaderboard <span>728x90px</span></a></header>
                </article>
                <article class="widget-skyscraper right-margin-none">
                    <header><a href="#">Skyscraper <span>120x600px</span></a></header>
                </article>
            </section>
            


<script type="text/javascript">
    skyscanner.load('autosuggest', '1');
    skyscanner.load('snippets', '2', { noautosuggest: true });

    var drawWidget = function () {
        var market = $("#inputMarket").val();
        var language = $("#inputLanguage").val();
        var currency = $("#inputCurrency").val();
        var shape = $("#inputWidgetShape").val();
        var departurePlace = $("#inputDepartureId").val();
        var destinationPlace = $("#inputDestinationId").val();

        var canChangeDepCheckbox = $("#departurecheck");
        var canChangeDestCheckbox = $("#destinationcheck");

        enableDisableCheckbox(departurePlace, canChangeDepCheckbox);
        enableDisableCheckbox(destinationPlace, canChangeDestCheckbox);

        var canChangeDeparture = canChangeDepCheckbox.prop("checked");
        var canChangeDestination = canChangeDestCheckbox.prop("checked");

        var colourScheme = $("#inputColourScheme").val();

        var snippet = new window.skyscanner.snippets.SearchPanelControl();
        snippet.setCurrency(currency);
        snippet.setShape(shape);
        if (market != "0") {
            snippet.setMarket(market);
        }

            
                                                
                //Setup CarHire
                var carHirePickUp = $("#inputCarHirePickUpId").val();
                var canChangeCarHirePickUp = $("#carHirePickUpCheck");
                enableDisableCheckbox(carHirePickUp, canChangeCarHirePickUp);
                snippet.setCarHireStartLocation(carHirePickUp, !canChangeCarHirePickUp.is(":checked"));

                //Setup Hotels
                var hotelWhere = $("#inputHotelWhereId").val();
                var canChangeHotelWhere = $("#hotelWhereCheck");
                enableDisableCheckbox(hotelWhere, canChangeHotelWhere);
                snippet.setHotelsLocation(hotelWhere, !canChangeHotelWhere.is(":checked"));
    
            
        
        
        snippet.setCulture(language);
        snippet.setCurrency(currency);
        snippet.setDeparture(departurePlace, !canChangeDeparture);
        snippet.setDestination(destinationPlace, !canChangeDestination);

        if (typeof (snippet.setColourScheme) != "undefined") {
            snippet.setColourScheme(colourScheme);
        }
        else {
            console.log("Skipping setColourScheme");
        }

        $(".product-opt-container").hide();
        $(".product-control input[type=checkbox]:checked").each(function (index) {
            var product = $(this).data("product");
            snippet.setProduct(product, index);
            $(".product-opt-container[data-product=" + product + "]").show();
        });

        if (!$(".product-control").is(":visible")) {
            var el = $(".product-opt-container[data-product='flights']");
            el.show();
            $(".product-type", el).hide();
        }

        snippet.draw(document.getElementById('snippet_searchpanel'));

        updateFlightCode(false);
    };

    var setUpAutoSuggestForFlightSearch = function () {
        var fromFieldId = "inputDeparture";
        var toFieldId = "inputDestination";
        var from = document.getElementById(fromFieldId);
        var to = document.getElementById(toFieldId);
        var server = "http://partners.api.skyscanner.net";
        var market = "UK"; //fix for autosuggest
        var currency = "EUR";
        var language = "en-GB";
        var apiKey = "cd6188b0-d780-49a9-a48c-c6dc98f0e9ac";
        var words = { "any": "Any", "everywhere": "", "instruction": "Type a country, city or airport" };

        var asFrom = new window.Skyscanner.Autosuggest(from, server, market, currency, language, apiKey, false, words);
        asFrom.OnSelect = function (place) {
            updateSelectedPlace(fromFieldId, place, drawWidget);
        };

        var asTo = new window.Skyscanner.Autosuggest(to, server, market, currency, language, apiKey, true, words);
        asTo.OnSelect = function (place) {
            updateSelectedPlace(toFieldId, place, drawWidget);
        };
    };

    var setUpAutoSuggest = function (type, fromFieldId) {
        var from = document.getElementById(fromFieldId);
        var server = "http://partners.api.skyscanner.net";
        var market = "UK";
        var currency = "EUR";
        var language = "en-GB";
        var apiKey = "cd6188b0-d780-49a9-a48c-c6dc98f0e9ac";
        var words = { "any": "Any", "everywhere": "", "instruction": "Type a country, city or airport" };

        var asFrom = new window.Skyscanner.Autosuggest(from, server, market, currency, language, apiKey, type, words);
        asFrom.OnSelect = function (place) {
            updateSelectedPlace(fromFieldId, place, drawWidget);
        };
    };

    var enableDisableCheckbox = function (inputValue, checkbox) {
        if (inputValue === "") {
            checkbox.prop('checked', true);
            checkbox.prop("disabled", true);
        } else {
            checkbox.removeAttr("disabled");
        }
    };

    var updateSelectedPlace = function (fieldId, place, callback) {
        var placeId = place ? place.PlaceId.replace('-sky', '') : '';
        var hiddenIdField = $("#" + fieldId + "Id");

        if (hiddenIdField.val() != placeId) {
            hiddenIdField.val(placeId);
            if (callback) callback();
        }
    };

    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    var updateFlightCode = function (showPanel) {
        var widgetScriptBlock = '<script type="text/javascript" src="//api.skyscanner.net/api.ashx?key=<%= apiKey %>"><\/script>\n' +
            '<script type="text/javascript">\n' +
            '   skyscanner.load("snippets","2");\n' +
            '   function main(){\n' +
            '       var snippet = new skyscanner.snippets.SearchPanelControl();\n' +
            '       snippet.setShape("<%= shape %>");\n' +
            '       snippet.setCulture("<%= culture %>");\n' +
            '       snippet.setCurrency("<%= currency %>");\n' +
            '<%= market() %>' +       
            '<%= departure() %>' +
            '<%= destination() %>' +
            '<%= colorScheme() %>' +
            '<%= products() %>' +
            '<%= hotelPresets() %>' +
            '<%= carhirePresets() %>' +
            '<%= associateParam() %>' +
            '<%= clickUrlAndAdditionalParameters() %>' +
            '       snippet.draw(document.getElementById("snippet_searchpanel"));\n' +
            '   }\n' +
            '   skyscanner.setOnLoadCallback(main);\n' +
            '<\/script>\n';

        var widgetTmpl = _.template(widgetScriptBlock +
            '<div id="snippet_searchpanel" style="width: auto; height:auto;"></div>');

        var model =
        {
            apiKey: $("#inputAPIKey").val(),
            culture: $("#inputLanguage").val(),
            currency: $("#inputCurrency").val(),
            shape: $("#inputWidgetShape").val(),
            
            market: function () {
                var output = [];

                var market = $("#inputMarket").val();
                if (market != "0") {
                    output.push('       snippet.setMarket("' + market + '");\n');
                }

                return output.join("\n");
            },

            departure: function () {
                var output = [];

                var departurePlace = $("#inputDepartureId").val();

                if (departurePlace) {
                    var departurePlaceIsFixed = !$("#departurecheck").is(":checked");
                    output.push('       snippet.setDeparture("' + departurePlace + '", ' + departurePlaceIsFixed + ');\n');
                }

                return output.join("\n");
            },

            destination: function () {
                var output = [];

                var destinationPlace = $("#inputDestinationId").val();

                if (destinationPlace) {
                    var destiantionPlaceIsFixed = !$("#destinationcheck").is(":checked");
                    output.push('       snippet.setDestination("' + destinationPlace + '", ' + destiantionPlaceIsFixed + ');\n');
                }

                return output.join("\n");
            },

            colorScheme: function () {
                var val = $("#inputColourScheme").val();

                if ((val || "default") == "default")
                    return "";

                return '       snippet.setColourScheme("' + val + '");\n';
            },

            products: function () {
                var output = [];
                $(".product-control input[type=checkbox]:checked").each(function (i) {
                    output.push('       snippet.setProduct("' + $(this).data("product") + '","' + (i + 1) + '");');
                });

                return output.join("\n") + "\n";
            },

            carhirePresets: function () {
                var output = [];

                var carHirePickUp = $("#inputCarHirePickUpId").val();
                var carHireDropOff = $("#inputCarHireDropOffId").val();

                if (carHirePickUp) {
                    var carHirePickUpIsFixed = !$("#carHirePickUpCheck").is(":checked");
                    output.push('       snippet.setCarHireStartLocation("' + carHirePickUp + '", ' + carHirePickUpIsFixed + ');');
                }

                if (carHireDropOff) {
                    var carHireDropOffIsFixed = !$("#carHireDropOffCheck").is(":checked");
                    output.push('       snippet.setCarHireEndLocation("' + carHireDropOff + '", ' + carHireDropOffIsFixed + ');');
                }

                return output.join("\n") + "\n";
            },

            hotelPresets: function () {
                var output = [];

                var hotelWhere = $("#inputHotelWhereId").val();

                if (hotelWhere) {
                    var hotelWhereIsFixed = !$("#hotelWhereCheck").is(":checked");
                    output.push('       snippet.setHotelsLocation("' + hotelWhere + '", ' + hotelWhereIsFixed + ');\n');
                }

                return output.join("\n");
            },

            clickUrlAndAdditionalParameters: function () {
                var output = [];

                var clickUrl = "";
                var urlParameters = "".split(",");

                if (!clickUrl.length)
                    return "";

                for (var i = 0; i < urlParameters.length; i++) {
                    var parameter = urlParameters[i];

                    var value = getParameterByName(parameter);

                    if (value)
                        output.push('       snippet.setUrlParam("' + parameter + '", "' + value + '");\n');

                    clickUrl = clickUrl.replace("@@" + parameter + "@@", value);

                }

                return output.join("\n") + '       snippet.setClickUrl("' + clickUrl + '");\n';
            },

            associateParam: function () {
                var asspcoateId = "";
                return (asspcoateId.length) ? '       snippet.setUrlParam("associateid", "' + asspcoateId + '");\n' : "";
            }
        };

        $("#flightCode").text(widgetTmpl(model));
        
        if (showPanel)
            $('#generatedFlightContainer').show();
    };

    var isFormInvalid = function () {
        return checkRequiredField("#inputAPIKey", "#apiKeyValidation");
    };

    var handleDepartureCheckChanged = function () {
        ensureAtLeastOneChecked("#departurecheck", "#destinationcheck");
        drawWidget();
    };

    var handleDestinationCheckChanged = function () {
        ensureAtLeastOneChecked("#destinationcheck", "#departurecheck");
        drawWidget();
    };

    var initialiseProductControl = function () {
        console.log('start initialiseProductControl');
        $("#products").sortable({

            /*connectWith: "#products",
            items: $("#products li > input[type=checkbox]:checked").parent(),
            placeholder: "highlight",
            axis: "y",
            handle: ".handle",*/
            stop: function () {
                drawWidget();
            }
        }).disableSelection();

        $("#products input[type=checkbox]").change(function () {
            var disabledCheckbox = ($("#products input[type=checkbox]:checked").length == 1);
            $("#products input[type=checkbox]:checked").prop("disabled", disabledCheckbox);

            $("#products").sortable({
                disabled: disabledCheckbox,
                items: $("#products li > input[type=checkbox]:checked").parent()
            });
        });
    };
    
    /*
        added article functionality
    */
    function updateWidgetShape() {

        $('.widget-builder article').click(function() {
            var shapeIndex = $('.widget-builder article').index(this);
            $('#inputWidgetShape option:eq(' + shapeIndex + ')').prop('selected', true);
            $("#inputWidgetShape").change();
        });
    }

    function updateWidgetHeaders() {

        $('#inputWidgetShape').on('change', function (e) {
            var optionIdex = $("#inputWidgetShape")[0].selectedIndex;
            $('.widget-builder article').removeClass('active');
            $('.widget-builder article').eq(optionIdex).addClass('active');
        });
    }
    
    $(document).ready(function () {
        console.log('Should initialise');
        $("#generateFlightCode").on("click", function () {
            var TandCChecked = $("#terms_check_flight").prop("checked");
            if (TandCChecked) {
                updateFlightCode(true);
                $("#product-terms-info").removeClass("product-terms-info-active");
            } else {
                $("#product-terms-info").addClass("product-terms-info-active");
            }
        });
        $("#inputWidgetShape").on("change", drawWidget);
        $("#inputMarket").on("change", drawWidget);
        $("#inputLanguage").on("change", drawWidget);
        $("#inputCurrency").on("change", drawWidget);
        $("#departurecheck").on("change", handleDepartureCheckChanged);
        $("#destinationcheck").on("change", handleDestinationCheckChanged);
        $("#inputColourScheme").on("change", drawWidget);
        $(".product-control input[type=checkbox]").on("change", drawWidget);

        $('a.js-show-terms').attr('href', "JavaScript:termsDialog();");

        $("#hotelWhereCheck").on("change", drawWidget);
        updateWidgetShape();
        updateWidgetHeaders();
        initialiseProductControl();
        setUpAutoSuggestForFlightSearch();
        
        
            
                //set up autosuggest for hotels and carhire
                setUpAutoSuggest("carhire", "inputCarHirePickUp");
                setUpAutoSuggest("hotels", "inputHotelWhere");
            
        
        drawWidget();
    });

</script>


<section class="widget-options">
    <header>
              <a href="#"><img src="/Content/images/widget_close.png" alt="close" id="close-widget-opt-btn"/></a>
        <p>
            Select from the options below to create your widget<br/>When you are ready simply <b>press the 'Update and generate code' button</b> to produce the code
        </p>
    </header>
    <article>
        <div>
            <!-- first column with map wizard controls -->
            <div id="snippet_searchpanel"></div>
<form action="/portal/en-GB/TravelWidgets/FlightSearchWidget" class="form-horizontal code-wizard boxed-form" method="post">                <div class="control-group code-wizard-content">
            
                    <ul id="products" class="product-control">
                        <li>
                            <input id="product-flights" type="checkbox" checked="checked" data-product="flights" />
                            <label for="product-flights">
                                flights
                            </label>
                        </li>
                        <li >
                            <input id="product-hotels" type="checkbox" checked="checked" data-product="hotels" />
                            <label for="product-hotels">
                                hotels
                            </label>
                        </li>
                        <li >
                            <input id="product-carhire" type="checkbox" checked="checked" data-product="carhire" />
                            <label for="product-carhire">
                                car hire
                            </label>
                        </li>
                    </ul>

                    <div class="product-properties">
                    
                        <section class="product-property">
                            <label class="widget-label" for="inputAPIKey">
                                Your Widget Key: <span class="required">*</span>
                            </label>
                            <div class="property-wrapper">
                                <div>
                                    <input id="inputAPIKey" name="ApiKey" placeholder="Your Widget Key:" type="text" value="" />
                                </div>
                        
                                <span class="field-validation-valid" data-valmsg-for="ApiKey" data-valmsg-replace="false" id="apiKeyValidation">required</span>
                        
                                    <p>Don&#39;t have one? <a href="/portal/en-GB/TravelWidgets/SignUp">Get one here</a></p>
                                <input id="QueryString" name="QueryString" type="hidden" value="" />
                                <input id="AssociatedId" name="AssociatedId" type="hidden" value="" />
                            </div>
                        </section>
                    
                        <section class="product-property hidden">
                            <label class="widget-label" for="inputWidgetShape">Type:
                                <span class="required">*</span>
                            </label>
                            <div class="widget-input">
                                <select id="inputWidgetShape" name="WidgetShape"><option value="box300x250">rectangle 300x250</option>
<option value="box400x400">large square 400x400</option>
<option value="leaderboard">leaderboard 728x90</option>
<option value="skyscraper">skyscraper 120x600</option>
</select>
                            </div>
                        </section>
                  
                        <section class="product-property">
                            <label class="widget-label" for="inputMarket">
                                Market
                                <span class="required">*</span>
                            </label>
                            <div class="widget-input">
                                <select id="inputMarket" name="Market"><option value="0">Default</option>
<option value="AF">Afghanistan</option>
<option value="AL">Albania</option>
<option value="DZ">Algeria</option>
<option value="AS">American Samoa</option>
<option value="AO">Angola</option>
<option value="AI">Anguilla</option>
<option value="AQ">Antarctica</option>
<option value="AG">Antigua and Barbuda</option>
<option value="AR">Argentina</option>
<option value="AM">Armenia</option>
<option value="AW">Aruba</option>
<option value="AU">Australia</option>
<option value="AT">Austria</option>
<option value="AZ">Azerbaijan</option>
<option value="BS">Bahamas</option>
<option value="BH">Bahrain</option>
<option value="BD">Bangladesh</option>
<option value="BB">Barbados</option>
<option value="BY">Belarus</option>
<option value="BE">Belgium</option>
<option value="BZ">Belize</option>
<option value="BJ">Benin</option>
<option value="BM">Bermuda</option>
<option value="BT">Bhutan</option>
<option value="BO">Bolivia</option>
<option value="BA">Bosnia and Herzegovina</option>
<option value="BW">Botswana</option>
<option value="BR">Brazil</option>
<option value="VG">British Virgin Islands</option>
<option value="BN">Brunei</option>
<option value="BG">Bulgaria</option>
<option value="BF">Burkina Faso</option>
<option value="BI">Burundi</option>
<option value="KH">Cambodia</option>
<option value="CM">Cameroon</option>
<option value="CA">Canada</option>
<option value="CV">Cape Verde</option>
<option value="BQ">Caribbean Netherlands</option>
<option value="KY">Cayman Islands</option>
<option value="CF">Central African Republic</option>
<option value="TD">Chad</option>
<option value="CL">Chile</option>
<option value="CN">China/option>
<option value="CX">Christmas Island</option>
<option value="CC">Cocos (Keeling) Islands</option>
<option value="CO">Colombia</option>
<option value="KM">Comoros</option>
<option value="CG">Congo</option>
<option value="CK">Cook Islands</option>
<option value="CR">Costa Rica</option>
<option value="HR">Croatia</option>
<option value="CU">Cuba</option>
<option value="CW">Curacao</option>
<option value="CY">Cyprus</option>
<option value="CZ">Czech Republic</option>
<option value="DK">Denmark</option>
<option value="DJ">Djibouti</option>
<option value="DM">Dominica</option>
<option value="DO">Dominican Republic</option>
<option value="CD">DR Congo</option>
<option value="TL">East Timor</option>
<option value="EC">Ecuador</option>
<option value="EG">Egypt</option>
<option value="SV">El Salvador</option>
<option value="GQ">Equatorial Guinea</option>
<option value="ER">Eritrea</option>
<option value="EE">Estonia</option>
<option value="ET">Ethiopia</option>
<option value="FK">Falkland Islands</option>
<option value="FO">Faroe Islands</option>
<option value="FJ">Fiji</option>
<option value="FI">Finland</option>
<option value="FR">France</option>
<option value="GF">French Guiana</option>
<option value="PF">French Polynesia</option>
<option value="GA">Gabon</option>
<option value="GM">Gambia</option>
<option value="GE">Georgia</option>
<option value="DE">Germany</option>
<option value="GH">Ghana</option>
<option value="GI">Gibraltar</option>
<option value="GR">Greece</option>
<option value="GL">Greenland</option>
<option value="GD">Grenada</option>
<option value="GP">Guadeloupe</option>
<option value="GU">Guam</option>
<option value="GT">Guatemala</option>
<option value="GG">Guernsey</option>
<option value="GN">Guinea</option>
<option value="GW">Guinea-Bissau</option>
<option value="GY">Guyana</option>
<option value="HT">Haiti</option>
<option value="HN">Honduras</option>
<option value="HK">Hong Kong</option>
<option value="HU">Hungary</option>
<option value="IS">Iceland</option>
<option value="IN">India</option>
<option value="ID">Indonesia</option>
<option value="IR">Iran</option>
<option value="IQ">Iraq</option>
<option value="IE">Ireland</option>
<option value="IL">Israel</option>
<option value="IT">Italy</option>
<option value="CI">Ivory Coast</option>
<option value="JM">Jamaica</option>
<option value="JP">Japan</option>
<option value="JO">Jordan</option>
<option value="KZ">Kazakhstan</option>
<option value="KE">Kenya</option>
<option value="KI">Kiribati</option>
<option value="KO">Kosovo</option>
<option value="KW">Kuwait</option>
<option value="KG">Kyrgyzstan</option>
<option value="LA">Laos</option>
<option value="LV">Latvia</option>
<option value="LB">Lebanon</option>
<option value="LS">Lesotho</option>
<option value="LR">Liberia</option>
<option value="LY">Libya</option>
<option value="LT">Lithuania</option>
<option value="LU">Luxembourg</option>
<option value="MO">Macau</option>
<option value="MG">Madagascar</option>
<option value="MW">Malawi</option>
<option value="MY">Malaysia</option>
<option value="MV">Maldives</option>
<option value="ML">Mali</option>
<option value="MT">Malta</option>
<option value="MH">Marshall Islands</option>
<option value="MQ">Martinique</option>
<option value="MR">Mauritania</option>
<option value="MU">Mauritius</option>
<option value="YT">Mayotte</option>
<option value="MX">Mexico</option>
<option value="FM">Micronesia</option>
<option value="MD">Moldova</option>
<option value="MC">Monaco</option>
<option value="MN">Mongolia</option>
<option value="ME">Montenegro</option>
<option value="MS">Montserrat</option>
<option value="MA">Morocco</option>
<option value="MZ">Mozambique</option>
<option value="MM">Myanmar</option>
<option value="NA">Namibia</option>
<option value="NR">Nauru</option>
<option value="NP">Nepal</option>
<option value="NL">Netherlands</option>
<option value="NC">New Caledonia</option>
<option value="NZ">New Zealand</option>
<option value="NI">Nicaragua</option>
<option value="NE">Niger</option>
<option value="NG">Nigeria</option>
<option value="NU">Niue</option>
<option value="KP">North Korea</option>
<option value="MP">Northern Mariana Islands</option>
<option value="NO">Norway</option>
<option value="OM">Oman</option>
<option value="PK">Pakistan</option>
<option value="PW">Palau</option>
<option value="PA">Panama</option>
<option value="PG">Papua New Guinea</option>
<option value="PY">Paraguay</option>
<option value="PE">Peru</option>
<option value="PH">Philippines</option>
<option value="PL">Poland</option>
<option value="PT">Portugal</option>
<option value="PR">Puerto Rico</option>
<option value="QA">Qatar</option>
<option value="MK">Republic of Macedonia</option>
<option value="RE">Reunion</option>
<option value="RO">Romania</option>
<option value="RU">Russia</option>
<option value="RW">Rwanda</option>
<option value="BL">Saint Barthelemy</option>
<option value="KN">Saint Kitts and Nevis</option>
<option value="LC">Saint Lucia</option>
<option value="VC">Saint Vincent and the Grenadines</option>
<option value="WS">Samoa</option>
<option value="ST">Sao Tome and Principe</option>
<option value="SA">Saudi Arabia</option>
<option value="SN">Senegal</option>
<option value="RS">Serbia</option>
<option value="SC">Seychelles</option>
<option value="SL">Sierra Leone</option>
<option value="SG">Singapore</option>
<option value="SK">Slovakia</option>
<option value="SI">Slovenia</option>
<option value="SB">Solomon Islands</option>
<option value="SO">Somalia</option>
<option value="ZA">South Africa</option>
<option value="KR">South Korea</option>
<option value="SS">South Sudan</option>
<option value="ES">Spain</option>
<option value="LK">Sri Lanka</option>
<option value="SX">St Maarten</option>
<option value="PM">St. Pierre and Miquelon</option>
<option value="SD">Sudan</option>
<option value="SR">Suriname</option>
<option value="SZ">Swaziland</option>
<option value="SE">Sweden</option>
<option value="CH">Switzerland</option>
<option value="SY">Syria</option>
<option value="TW">Taiwan</option>
<option value="TJ">Tajikistan</option>
<option value="TZ">Tanzania</option>
<option value="TH">Thailand</option>
<option value="TG">Togo</option>
<option value="TO">Tonga</option>
<option value="TT">Trinidad and Tobago</option>
<option value="TN">Tunisia</option>
<option value="TR">Turkey</option>
<option value="TM">Turkmenistan</option>
<option value="TC">Turks and Caicos Islands</option>
<option value="TV">Tuvalu</option>
<option value="UG">Uganda</option>
<option value="UA">Ukraine</option>
<option value="AE">United Arab Emirates</option>
<option value="UK">United Kingdom</option>
<option value="US">United States</option>
<option value="UY">Uruguay</option>
<option value="UZ">Uzbekistan</option>
<option value="VU">Vanuatu</option>
<option value="VE">Venezuela</option>
<option value="VN">Vietnam</option>
<option value="VI">Virgin Islands</option>
<option value="WF">Wallis and Futuna Islands</option>
<option value="YE">Yemen</option>
<option value="ZM">Zambia</option>
<option value="ZW">Zimbabwe</option>
</select>
                            </div>
                        </section>
                    
                        <section class="product-property">
                            <label class="widget-label" for="inputLanguage">Language:
                                <span class="required">*</span>
                            </label>
                            <div>
                                <select id="inputLanguage" name="Locale"><option value="cs-CZ">Čeština (cs-CZ)</option>
<option value="da-DK">Dansk (da-DK)</option>
<option value="de-DE">Deutsch (de-DE)</option>
<option selected="selected" value="en-GB">English (en-GB)</option>
<option value="es-ES">Espa&#241;ol (es-ES)</option>
<option value="fi-FI">Suomi (fi-FI)</option>
<option value="fr-FR">Fran&#231;ais (fr-FR)</option>
<option value="el-GR">Ελληνικά (el-GR)</option>
<option value="hu-HU">Magyar (hu-HU)</option>
<option value="id-ID">Bahasa Indonesia (id-ID)</option>
<option value="it-IT">Italiano (it-IT)</option>
<option value="ja-JP">日本語 (ja-JP)</option>
<option value="ko-KR">한국어 (ko-KR)</option>
<option value="ms-MY">Bahasa Malaysia (ms-MY)</option>
<option value="nl-NL">Nederlands (nl-NL)</option>
<option value="nb-NO">Norsk (nb-NO)</option>
<option value="pl-PL">Polski (pl-PL)</option>
<option value="pt-PT">Portugu&#234;s (pt-PT)</option>
<option value="pt-BR">Portugu&#234;s (pt-BR)</option>
<option value="ro-RO">Rom&#226;nă (ro-RO)</option>
<option value="ru-RU">Русский (ru-RU)</option>
<option value="sv-SE">Svenska (sv-SE)</option>
<option value="th-TH">ภาษาไทย (th-TH)</option>
<option value="tl-PH">Filipino (tl-PH)</option>
<option value="tr-TR">T&#252;rk&#231;e (tr-TR)</option>
<option value="uk-UA">Українська (uk-UA)</option>
<option value="vi-VN">Tiếng Việt (vi-VN)</option>
<option value="zh-CN">简体中文 (zh-CN)</option>
<option value="zh-TW">繁體中文 (zh-TW)</option>
</select>
                            </div>
                        </section>

                        <section class="product-property">
                            <label class="widget-label" for="inputCurrency">Currency:
                                <span class="required">*</span>
                            </label>
                            <div>
                                <select id="inputCurrency" name="Currency"><option value="AED">AED - د.إ.‏</option>
<option value="AFN">AFN - AFN</option>
<option value="ARS">ARS - $</option>
<option value="AUD">AUD - $</option>
<option value="BDT">BDT - BDT</option>
<option value="BGN">BGN - лв.</option>
<option value="BOB">BOB - Bs.</option>
<option value="BRL">BRL - R$</option>
<option value="BTN">BTN - Nu</option>
<option value="CAD">CAD - $</option>
<option value="CHF">CHF - Fr.</option>
<option value="CLP">CLP - $</option>
<option value="CNY">CNY - 元</option>
<option value="COP">COP - $</option>
<option value="CUC">CUC - CUC</option>
<option value="CZK">CZK - Kč</option>
<option value="DKK">DKK - kr.</option>
<option value="EGP">EGP - ج.م.‏</option>
<option value="EUR">EUR - €</option>
<option value="FJD">FJD - $</option>
<option value="GBP">GBP - &#163;</option>
<option value="HKD">HKD - HK$</option>
<option value="HRK">HRK - kn</option>
<option value="HUF">HUF - Ft</option>
<option value="IDR">IDR - Rp</option>
<option value="INR">INR - Rs</option>
<option value="ISK">ISK - kr.</option>
<option value="JOD">JOD - د.ا.‏</option>
<option value="JPY">JPY - &#165;</option>
<option value="KGS">KGS - сом</option>
<option value="KHR">KHR - KHR</option>
<option value="KPW">KPW - ₩</option>
<option value="KRW">KRW - ₩</option>
<option value="KWD">KWD - د.ك.‏</option>
<option value="KZT">KZT - Т</option>
<option value="LAK">LAK - ₭</option>
<option value="LKR">LKR - Rp</option>
<option value="LTL">LTL - Lt</option>
<option value="LVL">LVL - Ls</option>
<option value="MOP">MOP - MOP$</option>
<option value="MMK">MMK - K</option>
<option value="MNT">MNT - ₮</option>
<option value="MVR">MVR - MVR</option>
<option value="MXN">MXN - $</option>
<option value="MYR">MYR - RM</option>
<option value="NOK">NOK - kr</option>
<option value="NZD">NZD - $</option>
<option value="OMR">OMR - ر.ع.‏</option>
<option value="PGK">PGK - PGK</option>
<option value="PHP">PHP - PhP</option>
<option value="PKR">PKR - Rs</option>
<option value="PLN">PLN - zł</option>
<option value="QAR">QAR - ر.ق.‏</option>
<option value="RON">RON - lei</option>
<option value="RUB">RUB - р.</option>
<option value="SAR">SAR - ر.س.‏</option>
<option value="SEK">SEK - kr</option>
<option value="SGD">SGD - $</option>
<option value="THB">THB - ฿</option>
<option value="TJS">TJS - TJS</option>
<option value="TMT">TMT - m</option>
<option value="TRY">TRY - TL</option>
<option value="TWD">TWD - NT$</option>
<option selected="selected" value="USD">USD - $</option>
<option value="UAH">UAH - грн.</option>
<option value="VEF">VEF - Bs. F.</option>
<option value="VND">VND - ₫</option>
<option value="VUV">VUV - VT</option>
<option value="XAF">XAF - F</option>
<option value="XOF">XOF - F</option>
<option value="XPF">XPF - F</option>
<option value="WST">WST - WS$</option>
<option value="ZAR">ZAR - R</option>
</select>
                            </div>
                        </section>
                        
                        <section class="product-property">
                            <label class="widget-label" for="inputColourScheme">Colour Scheme
                                <span class="required">*</span>
                            </label>
                            <div>
                                <select id="inputColourScheme" name="ColourScheme"><option value="default">Default</option>
<option value="cherryreddark">Cherry Red dark</option>
<option value="cherryredlight">Cherry Red light</option>
<option value="classicbluedark">Classic Blue dark</option>
<option value="classicbluelight">Classic Blue light</option>
<option value="springgreendark">Spring Green dark</option>
<option value="springgreenlight">Spring Green light</option>
<option value="steelgreydark">Steel Grey dark</option>
<option value="steelgreylight">Steel Grey light</option>
</select>
                            </div>
                        </section>
                   
                        <div class="product-opt-container" data-product="flights">
                            
                            <div class="product-type">flights</div>
                            <section class="product-property">
                                <div class="control-group">
                                    <label class="widget-label" for="inputDeparture">Departure:</label>
                                    <div class="property-wrapper">
                                        <div><input autocomplete="off" id="inputDeparture" name="Departure" placeholder="Departure:" type="text" value="" /></div>
                                        <p class="bottomSpaced"><input checked="checked" data-val="true" data-val-required="The CanChangeDeparture field is required." id="departurecheck" name="CanChangeDeparture" type="checkbox" value="true" /><input name="CanChangeDeparture" type="hidden" value="false" />
                                            User can change
                                        </p>
                                        <input id="inputDepartureId" name="Departure" type="hidden" value="" />
                                    </div>
                                </div>
                            </section>

                            <section class="product-property">
                                <div class="control-group">
                                    <label for="inputDestination">Destination:</label>
                                    <div class="property-wrapper"> 
                                        <div><input autocomplete="off" id="inputDestination" name="Destination" placeholder="Destination:" type="text" value="" /></div>
                                        <p class="bottomSpaced"><input checked="checked" data-val="true" data-val-required="The CanChangeDestination field is required." id="destinationcheck" name="CanChangeDestination" type="checkbox" value="true" /><input name="CanChangeDestination" type="hidden" value="false" />
                                            User can change
                                        </p>
                                        <input id="inputDestinationId" name="Destination" type="hidden" value="" />
                                    </div>
                                </div> 
                            </section>
                        </div>
                             <section class="product-property">
                                 <div class="product-opt-container" data-product="hotels">
                                     <div class="product-type">hotels</div>
                                     <div class="control-group">
                                         <label class="widget-label" for="inputCarHirePickUp">Where?</label>
                                         <div class="property-wrapper">
                                             <div><input autocomplete="off" id="inputHotelWhere" name="Departure" placeholder="Where?" type="text" value="" /></div>
                                             <p class="bottomSpaced"><input data-val="true" data-val-required="The CanChangeHotelWhere field is required." id="hotelWhereCheck" name="CanChangeHotelWhere" type="checkbox" value="true" /><input name="CanChangeHotelWhere" type="hidden" value="false" />
                                                 User can change
                                             </p>
                                             <input id="inputHotelWhereId" name="HotelWhere" type="hidden" value="" />
                                         </div>
                                     </div>
                                 </div>
                             </section>
                             <section class="product-property">
                                 <div class="product-opt-container" data-product="carhire">
                                     <div class="product-type">car hire</div>
                                     <div class="control-group">
                                         <label for="inputCarHirePickUp">Pick-up airport:</label>
                                         <div class="property-wrapper">
                                             <div><input autocomplete="off" id="inputCarHirePickUp" name="Departure" placeholder="Pick-up airport" type="text" value="" /></div>
                                             <p class="bottomSpaced"><input data-val="true" data-val-required="The CanChangeCarHirePickUp field is required." id="carHirePickUpCheck" name="CanChangeCarHirePickUp" type="checkbox" value="true" /><input name="CanChangeCarHirePickUp" type="hidden" value="false" />
                                                 User can change
                                             </p>
                                             <input id="inputCarHirePickUpId" name="CarHirePickUp" type="hidden" value="" />
                                         </div>
                                     </div>
                                 </div>
                             </section>
                        <div class="control-group" hidden="hidden">
                            <label for="inputDepart" class = "inputDepartLabel">Depart</label>
                            <div>
                                <input class="inputDepartField" id="inputDepart" name="Depart" type="text" value="" />
                                <input id="inputDepart" name="Depart" type="hidden" value="" />
                            </div>
                        </div>

                        <div class="control-group" hidden="hidden">
                            <label for="inputReturn" class = "inputReturnLabel">Return</label>
                            <div>
                                <input class="inputReturnField" id="inputReturn" name="Return" type="text" value="" />
                                <input id="inputReturn" name="Return" type="hidden" value="" />
                            </div>
                        </div>
             
                        <div id="product-terms">
                            <p class="bottomSpaced">
                                <input data-info="#product-terms-info" data-target="#generateFlightCode" data-val="true" data-val-required="The IsTandCAccepted field is required." id="terms_check_flight" name="IsTandCAccepted" type="checkbox" value="true" /><input name="IsTandCAccepted" type="hidden" value="false" />
                                I agree with the <a href="/portal/en-GB/AffiliateNetwork/TermsAndConditions">Terms and Conditions</a>
                            </p>
                            <p class="bottomSpaced" id="product-terms-info">You need to agree with the terms and conditions</p>
                        </div>
                        <div>
                            <button class="btn-skyscanner" type="button" id="generateFlightCode">Update and generate code</button>
                        </div>
               
                        
                        
                    </div>
                </div>
</form>            
            <div class="code-container">
                <div id="generatedFlightContainer" style="display:none">
                    <div class="tab-content">
                        <div class="tab-pane first-pane active" id="codeTab">
                            <h3>Code</h3>
                            <pre id="flightCode"></pre>
                        </div>
                    </div>
                    <div id="widget-documentation">You can find more information in the <a href="/portal/en-GB/Documentation/WidgetsStart">Link</a></div>   
                </div>
            </div>
        </div>
    </article>
</section>


            
        </div>
    </div>
</article>

<section class="product-detail-photo" id="bg-image-4" data-speed="15" data-type="background" data-offset="-290"></section>

<section class="product-detail-content" id="clients" data-speed="10" data-type="background">
    <div class="container product-clients">
        <header class="center">
            <hgroup class="product-headergroup">
                <h1>Institucional</h1>
            </hgroup>
        </header>
            <!--
        <div id="clients-logo-table">
            <a href="http://sletat.ru/en/" target="_blank" rel="nofollow">
                <img src="#">
            </a>
            <a style="position: relative; right: 5px" href="http://www.wanderio.com/" target="_blank" rel="nofollow">
                <img src="#">
            </a>
                           
            
            <a href="http://www.spain.info/" target="_blank" rel="nofollow">
                <img src="#">
            </a>
            
            <a href="http://www.rome2rio.com/" target="_blank" rel="nofollow">
                <img src="#">
            </a>
            
            
            <a href="http://www.dealscoopr.com/" target="_blank" rel="nofollow">
                <img src="#">
            </a>

            <a href="http://www.secretescapes.com/" target="_blank" rel="nofollow">
                <img src="#">
            </a>
            <a href="https://www.waymate.de/en/searches" target="_blank" rel="nofollow">
                <img src="#">
            </a>
            <a href="http://elowcost.com/" target="_blank" rel="nofollow">
                <img src="#">
            </a>
        </div>
 -->    
        <h2>A satisfação de clientes em todos os estados brasileiros tem sido nossa motivação</h2>

    </div>
</section>
 

       


<footer id="portal-footer">
    <div class="container">
        <div id="portal-market-selector">
            <!--<img src="/" alt="Flag GB" />-->
        </div>

        <ul id="portal-footer-links">
            <li><a href="/portal/en-GB/Home/AboutUs">Sobre nós</a></li>
            <li><a href="/portal/en-GB/Home/Contact">Contato</a></li>
            <li><a href="/portal/en-GB/Documentation/Api">Documentação</a></li>
            <li><a href="/portal/en-GB/Home/TermsOfService">Termo de uso</a></li>
            <li><a href="/portal/en-GB/Home/PrivacyAndCookiePolicy">Politica de privacidade</a></li>
        </ul>
        
        <div id="portal-signoff"> 
            <a id="#" href="#" target="_blank">Argohost.net</a>
            <em>&#169; Argohost 2007-2014</em>
        </div>
    </div>
</footer>



        
        

	<script src="Scripts/gaTracking.js" type="text/javascript"></script>
    <script src="Scripts/jQueryUi/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
    <script src="Scripts/jQuery/jquery.placeholder.js" type="text/javascript"></script>
    <script src="Scripts/lodash.min.js" type="text/javascript"></script>
    <script src="Scripts/animationsb078.js" type="text/javascript"></script>
    <script src="Scripts/widgetcreator.js" type="text/javascript"></script>
    <script type="text/javascript">
        B2BPortal.UI.Navigation.ProductMenu.init();
        B2BPortal.UI.Navigation.SideMenu.init();
        B2BPortal.UI.WidgetCreator.init();
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    </body>
</html>
