@import"fontes.css";

#menuparado {
	background:rgba(45, 156, 12, 0.7);
	width:100%;
	height:54px;
	z-index:7;
}
#menuparado.fixed {
	position:fixed;
	top:0;
	-webkit-transform:translateZ(0);
	transform:translateZ(0)
}

#bg-image-1 {
	background:url('images/bg-image1.jpg') 50% 0 no-repeat fixed
}
#bg-image-2 {
	background:url('images/bg-image2.jpg') 50% 50% no-repeat fixed
}
#bg-image-3 {
	background:url('images/bg-image3.jpg') 50% 0 no-repeat fixed
}
#bg-image-4 {
	background:url('images/bg-image4.jpg') 50% -2200px no-repeat fixed
}
#bg-image-5{
	background:url('images/bg-image5.jpg') 50% -2200px no-repeat fixed
}
#product-intro {
	background:url('images/bg-image3.jpg') 50% -100px no-repeat fixed
}
#nova_infra {
	background:url('images/nova_infra.jpg') 50% 0 no-repeat fixed
}
#nova_politica{
	background:url('images/nova_politica.jpg') 50% 0 no-repeat fixed
}
#novo_atend{
	background:url('images/novo_atend.jpg') 50% 0 no-repeat fixed
}
#nova_vendas{
	background:url('images/nova_vendas.jpg') 50% 0 no-repeat fixed
}
#infra01{
	background:url('images/infra/infra01.jpg') 50% 0 no-repeat fixed
}
#infra02{
	background:url('images/infra/infra02.jpg') 50% 0 no-repeat fixed
}
#atend{
	background:url('images/novo_atend.jpg') 50% 0 no-repeat fixed
}
#inteligencia1{
	background:url('images/inteligencia1.jpg') 50% 0 no-repeat fixed
}
#inteligencia2{
	background:url('images/inteligencia2.jpg') 50% 0 no-repeat fixed
}

@media only screen and (max-width:1023px) {
#bg-image-1, #bg-image-2, #bg-image-3, #bg-image-4, #product-intro{
background-position:50% 50%;
background-attachment:scroll;
}
}
html {
	font-family:open_sansregular;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}
body {
	margin:0
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display:block;
}
audio, canvas, progress, video {
	display:inline-block;
	vertical-align:baseline
}
audio:not([controls]) {
display:none;
height:0
}
[hidden], template {
display:none
}
a {
	background:transparent
}
a:active, a:hover {
	outline:0
}
abbr[title] {
	border-bottom:1px dotted
}
b, strong {
	font-weight:bold
}
dfn {
	font-style:italic
}
h1 {
	font-size:2em;
	margin:.67em 0
}
mark {
	background:#ff0;
	color:#000
}
small {
	font-size:80%
}
sub, sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
}
sup {
	top:-.5em
}
sub {
	bottom:-.25em
}
img {
	border:0
}
svg:not(:root) {
overflow:hidden
}
figure {
	margin:1em 40px
}
hr {
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	height:0
}
pre {
	overflow:auto
}
code, kbd, pre, samp {
	font-family:monospace, monospace;
	font-size:1em
}
button, input, optgroup, select, textarea {
	color:inherit;
	font:inherit;
	margin:0
}
button {
	overflow:visible
}
button, select {
	text-transform:none
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance:button;
	cursor:pointer
}
button[disabled], html input[disabled] {
	cursor:default
}
 button::-moz-focus-inner, input::-moz-focus-inner {
border:0;
padding:0
}
input {
	line-height:normal
}
input[type="checkbox"], input[type="radio"] {
	box-sizing:border-box;
	padding:0
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
height:auto
}
input[type="search"] {
	-webkit-appearance:textfield;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
-webkit-appearance:none
}
fieldset {
	border:1px solid silver;
	margin:0 2px;
	padding:.35em .625em .75em
}
legend {
	border:0;
	padding:0
}
textarea {
	overflow:auto
}
optgroup {
	font-weight:bold
}
table {
	border-collapse:collapse;
	border-spacing:0
}
td, th {
	padding:0
}
html {
	overflow-y:scroll;
	background-size:cover;
	min-height:100%;
	position:relative
}
html.affiliatenetwork, html.analytics {
	background:#fff;
	background-size:auto auto
}
@media only screen and (max-width:1023px) {
html {
background-attachment:scroll
}
}
body {
	height:100%;
	margin:0;
	padding-bottom:70px
}
@media only screen and (max-width:768px) {
body {
padding-bottom:90px
}
}
a {
	text-decoration:none;
	color:#FFF
}
.cf {
*zoom:1
}
.cf:after, .cf:before {
	content:" ";
	display:table
}
.cf:after {
	clear:both
}
.border-box {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}
.scrollbar::-webkit-scrollbar {
width:3px
}
.scrollbar::-webkit-scrollbar-track {
background-color:#f0f0f0
}
.scrollbar::-webkit-scrollbar-thumb {
background-color:#ccc
}
ol.alpha-type-list {
	list-style-type:lower-alpha!important
}
.grey-border-top {
	border-top:solid 1px #ccc
}
.color-medium-grey {
	color:#666
}
.bg-very-lightblue {
	background:#DA4A37!important
}
.bg-light-ocean-verde {
	background:#74B24A !important
}
.bg-light-ocean-blue {
	background:#2C3E50 !important
}
.bg-light-ocean-verdecana {
	background:#4B7330 !important
}
.right-margin-none {
	margin-right:0!important
}
.right-padding-none {
	padding-right:0!important
}
.left-margin-none {
	margin-left:0!important
}
.left-padding-none {
	padding-left:0!important
}
.top-margin-none {
	margin-top:0!important
}
.top-padding-none {
	padding-top:0!important
}
.bottom-margin-none {
	margin-bottom:0!important
}
.bottom-padding-none {
	padding-bottom:0!important
}
.center {
	margin:0 auto
}
.float-left {
	float:left
}
.float-right {
	float:right
}
.txt-align-left {
	text-align:left
}
.txt-align-center {
	text-align:center
}
.nostyle-type-list {
	list-style:none
}
.no-border {
	border:none!important
}
.hidden {
	display:none!important
}
.shift-to-left {
	position:relative;
	left:25px
}
.shift-to-right {
	position:relative;
	right:25px
}
h1, h2, h3 {
	font-family:open_sansregular, Arial, Helvetica, sans-serif;
	font-weight:normal
}

h1 {
	font-size:32px;
	line-height:1.1;
	font-family: open_sanslight,arial,verdana !important;
}
h2 {
	font-size:22px
}
@media only screen and (max-width:480px) {
h1 {
font-size:28px
}
h2 {
font-size:20px
}
}
.content h1 {
	margin-top:0;
}
.content a:hover {
	text-decoration:underline
}
.content p {
	margin-bottom:1.5em
}
.text-l {
	font-size:18px
}
.text-s {
	font-size:14px
}
.legal-update {
	padding:7px 10px;
	border-top:1px solid #eaeaea;
	border-bottom:1px solid #eaeaea;
	color:#999;
	font-size:14px
}
#portal-logo {
	display:inline-block;
	background-repeat:no-repeat;
	width:92px;
	height:30px;
}
#portal-header {
}
#portal-header .head-action {
	float:right
}
#portal-header .container {
	overflow:hidden
}
#portal-header.opened .mobile-menu {
	display:block
}
#portal-header.opened .head-action {
	display:block
}
.mobile-menu-switch {
	position:absolute;
	right:20px;
	top:23px;
	color:#34363d;
	font-size:24px;
	display:none
}
@media only screen and (max-width:480px) {
.mobile-menu-switch {
right:10px;
top:20px
}
}
.mobile-menu {
	display:none;
	list-style:none;
	text-align:center;
	padding:0;
	margin:10px 10px 0;
	font-size:14px;
	background-color:#fff
}
.mobile-menu a {
	display:block;
	padding:10px 0 8px;
	color:#34363d;
	background-color:#f0f0f0;
	border-radius:4px;
	line-height:1.5
}
.mobile-menu li {
	margin:1px
}
@media only screen and (max-width:768px) {
#portal-header {
height:auto
}
#portal-header.documentation, #portal-header.legal {
position:static
}
#portal-header .head-action {
float:none;
display:block;
text-align:center;
padding:10px 10px 8px 10px;
background-position:98% 50%;
line-height:1.5;
display:none
}
#portal-header .portal-btn-signout {
text-decoration:none;
border:1px solid #c2eaed;
margin:1px 0 0 0
}
#portal-header .portal-btn-signout:hover {
background-color:#c2eaed
}
#portal-header .portal-btn-dashboard {
margin:0
}
 #portal-logo {
float:none;
margin:10px 0
}
 .mobile-menu-switch {
display:block
}
}
#portal-footer {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	left:0;
	right:0;
	bottom:0;
	z-index:6;
	padding-top:10px;
	background-color:#fff;
	border-top:#cacaca solid 1px;
	height:156px;
	line-height:30px;
	visibility: visible;
	color:#FFF;
}
#portal-footer ul {
	position:relative;
	top:1px;
	list-style:none;
	margin:0;
	padding:0;
	float:left;
	text-align:left;
	line-height:35px;
	font-size:10px;
	visibility: visible;
	font-family: open_sansregular, Verdana, Geneva, sans-serif;
}
#portal-footer ul li {
	display:inline;
	padding:0 6px
}
#portal-footer ul li a {
	color:#5C7287;
}
#portal-footer ul li a:hover {
	text-decoration:underline
}
#portal-signoff {
	float:right;
	height:40px;
	width:auto;
	text-align:right;
	line-height:20px;
	padding-left:-6px;
	transition: all 900ms linear;
	-moz-transition: all 900ms linear;
	-webkit-transition: all 900ms linear;
	box-sizing:content-box;
	padding-right:6px;
}
#portal-signoff a {
	font-family:"open_sansregular", Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#34363d;
}
#portal-signoff a:hover {
	text-decoration:none
	
}
#portal-signoff em {
	color:#5C7287;
	font-size:11px;
	display:block
}
#portal-market-selector {
	position:relative;
	top:7px;
	padding-left:0;
	margin-right:14px;
	float:left
}
@media only screen and (max-width:768px) {
#portal-footer {
height:70px;
text-align:center;
padding:10px 0
}
#portal-footer ul {
display:none
}
#portal-market-selector {
margin-right:0;
float:none;
top:0
}
#portal-signoff {
float:none;
text-align:center
}
}
 @-webkit-keyframes shake {
0%, 100% {
-webkit-transform:translateX(0)
}
10%, 30%, 50%, 70%, 90% {
-webkit-transform:translateX(-7px)
}
20%, 40%, 60%, 80% {
-webkit-transform:translateX(7px)
}
}
@keyframes shake {
0%, 100% {
transform:translateX(0)
}
10%, 30%, 50%, 70%, 90% {
transform:translateX(-7px)
}
20%, 40%, 60%, 80% {
transform:translateX(7px)
}
}
.invalid {
	-webkit-animation:shake 600ms;
	animation:shake 600ms
}
/*
.btn{
	color:#fff;
	background-color:rgba(113, 131, 121, 1);
	padding:.5em 1.5em;
	font-size:16px;
	border-radius:4px;
	line-height:2;
	white-space:
	nowrap;border:0
	}
.btn:hover{
		color:#FFF;
		background-color:#EDC058;
}
*/
.btn.submit {
	font-size:18px;
	padding:8px 70px
}
.btn.head-action {
	color:#34363d;
	background-color:#fff;
	padding:.2em 1.5em;
	border:1px solid #c2eaed;
	margin-top:1px;
	font-size:14px
}
.btn.head-action:hover {
	background-color:#c2eaed
}
.btn.portal-btn-signout {
	border:none;
	margin-right:10px;
	border:1px solid #fff
}
.btn.portal-btn-signout:hover {
	text-decoration:none
}
.btn.login {
	float:right;
	border:0;
	background-color:#29a8bb;
	color:#fff;
	padding:10px 40px;
	line-height:1.2
}
.btn.login:hover {
	color:#29a8bb;
	background-color:#c2eaed
}
.btn.action {
	background-color:#29a8bb;
	border:0;
	font-size:18px;
	color:#fff;
	padding:8px 70px
}
.btn.btn-secondary {
	color:#34363d;
	background-color:#c2eaed
}
.btn.btn-secondary:hover {
	color:#fff;
	background-color:#29a8bb
}
.btn.btn-small {
	padding:7px 20px;
	font-size:12px;
	line-height:1.2
}
.btn.btn-big {
	font-size:18px;
	padding:8px 40px
}
.link:hover {
	text-decoration:underline
}
.portal-btn-signout {
	padding:.2em 1em .2em 1em;
	background-color:#fff;
	background-image:none;
	text-decoration:underline
}
.portal-btn-signout:hover {
	background-color:#fff;
	color:#34363d
}
.portal-btn-dashboard {
	margin-right:5px
}
#portal-product-nav {
	background:rgba(45, 156, 12, 0.7);
	width:100%;
	height:54px;
	z-index:7;
}
#portal-product-nav.fixed {
	position:fixed;
	top:0;
	-webkit-transform:translateZ(0);
	transform:translateZ(0)
}
#portal-product-nav.analytics ul li {
	width:32%
}
#portal-product-nav ul #menu {
	margin:0 auto;
	font-size:16px;
	width:940px;
}
/*	
#portal-product-nav li{
	display:inline-block;
	text-align:center;
	line-height:40px;
	width:24%
}


#portal-product-nav a.active,#portal-product-nav a:hover{
	padding-bottom:9px;
	border-bottom:
	solid 2px #29a8bb
}
*/

@media only screen and (max-width:1023px) {
 #portal-product-nav ul {
width:100%
}
}
@media only screen and (max-width:306px) {
 #portal-product-nav {
 display:none
}
}
#portal-product-sidenav {
	position:fixed;
	right:25px;
	top:25%;
	z-index:4;
	text-align:right;
	-webkit-transform:translateZ(0);
	transform:translateZ(0)
}
#portal-product-sidenav>ul>li {
	list-style:none;
	margin:5px 0;
	padding:0;
	width:200px;
	height:30px
}
#portal-product-sidenav>ul>li a {
	display:inline-block;
	color:#666
}
#portal-product-sidenav>ul>li a>.sidenav-title {
	position:relative;
	left:15px;
	float:right;
	width:120px;
	text-align:left;
}
#portal-product-sidenav>ul>li a>.sidenav-dot {
	position:relative;
	top:5px;
	float:right;
	width:12px;
	height:12px;
	background-image:url('images/icon-dot-sidenav-normal.png');
	background-repeat:no-repeat
}
#portal-product-sidenav>ul>li a.active>.sidenav-dot, #portal-product-sidenav>ul>li a.active:hover>.sidenav-dot {
	background-image:url('images/icon-dot-sidenav-active.png');
}
#portal-product-sidenav>ul>li a:hover>.sidenav-dot {
	background-image:url('images/icon-dot-sidenav-hover.png');
}
 @media only screen and (max-width:768px) {
 #portal-product-sidenav {
display:none
}
}
html.full-size {
	background:#fff;
	overflow-y:hidden
}
html.full-size #portal-footer {
	position:fixed
}
html.full-size #portal-footer .container {
	width:auto;
	padding:0 20px
}
html.full-size #portal-header {
	position:fixed;
	top:0;
	left:0;
	right:0
}
html.full-size #portal-header .container {
	width:auto;
	padding:0 20px
}
.full-size-content {
	position:absolute;
	top:60px;
	bottom:55px;
	left:230px;
	right:0;
	overflow-y:auto
}
.full-size-wrap {
	margin:30px
}
@media only screen and (max-width:768px) {
.full-size-content {
position:static
}
.full-size-wrap {
margin:20px
}
}
.full-size-menu {
	position:absolute;
	z-index:10;
	width:230px;
	background:#333;
	left:0;
	top:60px;
	bottom:55px;
	font-size:15px;
	-webkit-transition:all 400ms;
	-moz-transition:all 400ms;
	-ms-transition:all 400ms;
	-o-transition:all 400ms;
	transition:all 400ms
}
.full-size-menu.opened {
	left:0
}
.full-size-menu.opened .cls {
	display:inline
}
.full-size-menu.opened .opn {
	display:none
}
.full-size-menu .cls {
	display:none
}
.full-size-menu h1, .full-size-menu h3, .full-size-menu h4 {
	font-family:Arial, Helvetica, sans-serif;
	padding:10px 20px 5px;
	margin:15px 0 5px
}
.full-size-menu h1 {
	color:#f0f0f0;
	font-size:18px;
	display:block;
	font-weight:normal!important;
	border-bottom:dotted #666 2px
}
.full-size-menu h3 {
	color:#29a8bb;
	font-size:13px;
	font-weight:bold;
	margin-bottom:0
}
.full-size-menu ul {
	list-style-type:none;
	margin:0;
	padding:0
}
.full-size-menu ul li {
	font-size:13px;
	padding:0;
	margin:0 0 1px
}
.full-size-menu ul li>ul {
	padding-left:10px
}
.full-size-menu ul a {
	color:#fff;
	display:block;
	padding:4px 10px 4px 20px;
	-webkit-transition:all 200ms;
	-moz-transition:all 200ms;
	-ms-transition:all 200ms;
	-o-transition:all 200ms;
	transition:all 200ms
}
.full-size-menu ul a:hover {
	background-color:rgba(255, 255, 255, .1);
	text-indent:5px
}
.full-size-menu ul a.active {
	text-indent:-3px;
	border-left:3px solid #fff;
	background-color:#222;
	color:#fff
}
.full-size-menu .menu-expander {
	cursor:pointer
}
.full-size-menu .menu-expander:hover {
	background-color:rgba(255, 255, 255, .2)
}
.full-size-menu-switch {
	display:none;
	position:absolute;
	font-size:20px;
	top:50%;
	margin-top:-30px;
	right:-25px;
	width:25px;
	height:60px;
	text-align:center;
	line-height:60px;
	background-color:#333;
	color:#eee;
	z-index:20;
	border-radius:0 2px 2px 0;
	font-size:27px
}
@media only screen and (max-width:768px) {
.full-size-menu {
position:fixed;
top:0;
bottom:0;
left:-230px;
-webkit-transform:translateZ(0);
transform:translateZ(0)
}
.full-size-menu-switch {
display:block
}
}
.full-size-menu-content {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	overflow-y:auto
}
.full-size-menu-content::-webkit-scrollbar {
width:3px
}
.full-size-menu-content::-webkit-scrollbar-track {
background-color:#333
}
.full-size-menu-content::-webkit-scrollbar-thumb {
background-color:#666
}
@media only screen and (max-width:768px) {
html.full-size {
overflow-y:auto
}
html.full-size body {
padding-bottom:70px
}
html.full-size #portal-header {
position:static
}
html.full-size #portal-header .container {
padding:0 10px
}
html.full-size #portal-footer {
position:absolute
}
}
.main-container {
	margin:40px 30px;
	height:auto
}
@media only screen and (max-width:480px) {
.main-container {
margin:0
}
}
.container {
*zoom:1;
	display:block;
	margin:0 auto;
	width:940px;
	height:auto
}
.container:after, .container:before {
	content:" ";
	display:table
}
.container:after {
	clear:both
}
@media only screen and (max-width:1023px) {
.container {
width:auto;
padding:0 20px
}
}
@media only screen and (max-width:768px) {
.container {
padding:0 10px
}
}
.content {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	background-color:#fff;
	padding:60px
}
@media only screen and (max-width:768px) {
.content {
padding:30px
}
}
@media only screen and (max-width:480px) {
.content {
padding:30px 15px
}
}
.widget-container {
	width:100%
}
#home-banner {
*zoom:1;
	width:940px;
	margin:0 auto 50px;
	text-align:center;
	position:relative;
	line-height:1.2
}
#home-banner:after, #home-banner:before {
	content:" ";
	display:table
}
#home-banner:after {
	clear:both
}
#home-banner h1 {
	margin:70px 0 40px;
	font-size:55px;
	color:#333;
	text-align:center;
	letter-spacing:-1px
}
#home-banner .product {
	color:#34363d;
	width:420px;
	height:420px;
	display:inline-block;
	position:relative;
	background-color:#fff;
	border-radius:50%;
	-webkit-transition:opacity 400ms;
	-moz-transition:opacity 400ms;
	-ms-transition:opacity 400ms;
	-o-transition:opacity 400ms;
	transition:opacity 400ms
}
#home-banner .product:hover {
	opacity:.8;
	filter:alpha(opacity=80);
	z-index:5
}
#home-banner .product h2 {
	font-size:36px;
	padding:5px 0;
	margin:70px 70px 0 70px
}
#home-banner .product h3 {
	color:#29a8bb;
	margin:10px 100px;
	line-height:120%;
	font-size:26px
}
#home-banner .product p {
	padding:0 110px;
	line-height:1.4
}
#home-banner .disk1 {
	left:20px
}
#home-banner .disk2 {
	left:-20px
}
.home-icon-arrow {
	height:40px;
	width:40px;
	margin:0 auto;
	border:1px solid #34363d;
	border-radius:50%;
	font-size:21px;
	line-height:40px;
	text-align:center;
	text-indent:1px;
	color:#34363d
}
@media only screen and (max-width:1023px) {
#home-banner {
width:auto;
text-align:center
}
#home-banner h1 {
font-size:46px;
margin:50px 0 60px
}
#home-banner .product {
width:350px;
height:350px;
overflow:hidden
}
#home-banner .product h2 {
font-size:30px;
margin-top:40px
}
#home-banner .product h3 {
margin:10px 70px;
font-size:22px
}
#home-banner .product p {
padding:0 80px;
font-size:14px
}
}
@media only screen and (max-width:768px) {
#home-banner {
margin-bottom:10px
}
#home-banner h1 {
margin:30px 20px;
font-size:36px
}
#home-banner .product {
display:block;
margin:0 auto
}
#home-banner .product h2 {
margin-top:50px
}
#home-banner .disk1, #home-banner .disk2 {
left:0
}
#home-banner .disk2 {
top:-20px
}
}
@media only screen and (max-width:480px) {
 #portal-logo {
width:245px;
margin-bottom:0;
background-size:contain
}
#home-banner h1 {
margin:20px 20px 10px
}
#home-banner .product {
width:300px;
height:300px
}
#home-banner .product h2 {
margin-top:30px;
font-size:22px
}
#home-banner .product h3 {
margin:10px 50px;
font-size:20px
}
#home-banner .product p {
padding:0 40px
}
}
#log-on {
	position:fixed;
	top:60px;
	bottom:70px;
	left:0;
	right:0;
	width:100%;
	padding:0
}
#log-on fieldset {
	padding:40px 30px
}
#log-on .control-group {
	margin-bottom:30px
}
#log-on .form-container {
	width:380px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-200px 0 0 -190px
}
html.signin-index .head-action {
	display:none
}
@media only screen and (max-width:1400px) {
#log-on {
position:static
}
#log-on .form-container {
position:static;
margin:50px auto 50px
}
}
@media only screen and (max-width:480px) {
#log-on fieldset {
padding:30px 20px
}
#log-on .form-container {
width:280px
}
#log-on .control-group {
margin-bottom:15px
}
#log-on .remember-me {
padding:0 0 10px 0
}
}
#contact-us h2 {
	padding-bottom:2px;
	border-bottom:1px solid #ddd
}
#contact-us table {
	width:100%
}
.contacts {
	margin-bottom:40px
}
.contacts h2 {
	clear:both;
	margin:0 0 20px;
	padding-top:30px
}
.contacts h3 {
	font-family:open_sansregular, Arial, Helvetica, sans-serif;
	margin:0;
	font-size:20px
}
.contacts em {
	display:block
}
.contacts .card {
	float:left;
	width:50%;
	margin:0 0 20px
}
@media only screen and (max-width:768px) {
.contacts .card {
float:none;
width:auto
}
}
.thank-you {
	position:relative;
	margin:40px 0;
	padding:22px 20px 20px 56px;
	border:1px solid #d6e9c6;
	border-radius:4px;
	background-color:#dff0d8;
	color:#3c763d
}
.thank-you .icon-ok {
	font-size:26px;
	line-height:1;
	display:block;
	color:green;
	position:absolute;
	top:50%;
	left:10px;
	margin-top:-12px
}
.product-detail-photo {
	height:500px;
	width:100%;
	background-size:cover!important
}
 @media only screen and (max-width:768px) {
 .product-detail-photo {
height:300px;
background-attachment:fixed;
background-size:auto auto
}
}
.product-detail-content {
	padding:39px 0;
	min-height:410px;
	height:auto;
	overflow:hidden;
	margin:0 auto;
	width:100%;
	background-color:#fff
}
s .product-detail-content hgroup {
	color:rgba(0, 0, 0, 0.51);
}
.product-detail-content h1, .product-detail-content h2 {
	padding:0 0 10px 0;
	text-align:center
}
.product-detail-content h1 {
	margin:0;
	font-size:60px;
	letter-spacing:-1px
}
.product-detail-content h2 {
	margin:0 0 25px;
	font-size:30px;
	line-height:1.3em
}
.product-detail-content figure {
	float:left;
	width:40%;
	margin:0;
	padding:0;
	font-size:14px
}
.product-detail-content figure img {
	max-width:100%
}
.product-detail-content figure figcaption {
	position:relative;
	text-align:center;
}
.product-detail-content figure figcaption a {
	color:#34363d
}
.product-detail-content figure figcaption a:hover {
	text-decoration:underline
}
.product-detail-content.equal figure, .product-detail-content.equal .product-section {
	width:50%
}
.product-section {
	-moz-box-sizing:
 border-box;
	-webkit-box-sizing:
 border-box;
	box-sizing:
 border-box;
	color:#34363d;
	float:right;
	width:60%;
	padding:0 0 0 40px
}
.product-section ul {
	margin:0 0 50px;
	font-size:16px;
	padding-left:1em
}
.product-section ul li {
	padding:5px 0
}
.product-features {
*zoom:1;
	position:relative;
	text-align:center
}
.product-features:after, .product-features:before {
	content:" ";
	display:table
}
.product-features:after {
	clear:both
}
.product-features-common {
	text-align:center;
	margin:30px 0 20px
}
.product-features-common .btn {
	font-size:16px;
	display:inline-block;
	padding:7px 15px;
	margin:10px 0
}
.product-features-common .link {
	font-size:13px;
	color:#34363d
}
.product-features-common .link:hover {
	text-decoration:underline
}
.feature {
	-moz-box-sizing:
 border-box;
	-webkit-box-sizing:
 border-box;
	box-sizing:
 border-box;
	float:left;
	width:33%;
}
.feature.full-column {
	width:auto
}
.feature:before {
	background:#cacaca;
	content:"";
	width:1px;
	top:0;
	bottom:-15px;
	position:absolute;
	display:block
}
.feature:first-child:before {
	display:none
}
.feature span {
	font-size:49px;
	color:#4d5059
}
.feature h3 {
	font-family:arial!important;
	line-height:1em;
	margin:0 0 10px;
	font-size:24px
}
.feature .btn {
	padding:7px 15px;
	display:inline-block;
	margin:20px 15px 15px
}
.feature .soon {
	line-height:2;
	padding:7px 15px;
	display:inline-block;
	margin:20px 15px 15px;
	font-size:16px;
	border-radius:4px;
	background-color:#f9f9f9;
	color:#999;
	font-style:italic
}
.feature .link {
	font-size:13px;
	color:#34363d
}
.feature .link:hover {
	text-decoration:underline
}
.feature.disabled {
	color:#ccc
}
#api-caption-1 {
	bottom:40px;
	text-align:center;
	margin-right:30px
}
#api-caption-2 {
	bottom:20px;
	text-align:right;
	margin-right:10px
}
 @media only screen and (max-width:1023px) {
 .product-section {
padding:0 0 0 10px
}
 .feature h3 {
font-size:22px
}
 .feature em {
font-size:14px
}
 .product-detail-photo {
height:220px
}
 .product-detail-layout-3 .product-options {
display:block;
width:100%;
position:static;
text-align:center;
padding-bottom:40px
}
}
 @media only screen and (max-width:768px) {
 .product-detail-content {
height:auto
}
 .product-detail-content figure, .product-detail-content .product-section {
width:auto;
float:none
}
 .product-detail-content.equal figure, .product-detail-content.equal .product-section {
width:auto;
float:none
}
 .product-detail-content figure {
text-align:center
}
 .product-detail-content figure img {
width:auto
}
 .product-detail-content .product-section {
margin-top:40px;
padding-left:0
}
 .product-detail-content .product-section ul {
padding-left:20px
}
 .product-detail-content .product-section .product-section-info {
margin-left:0;
text-align:center
}
 .product-detail-content .product-section .product-section-icons {
margin-left:0;
text-align:center;
width:100%
}
 .product-detail-content .product-section .product-section-icons li {
float:none;
display:inline-block
}
 .product-detail-content .product-cta {
text-align:center
}
.product-detail-layout-2 figure {
height:auto
}
 .product-detail-layout-2 figure img {
width:100%
}
.product-detail-layout-2 .product-section {
position:static
}
 #TIImage {
width:100%
}
 #api-caption-2 {
margin-right:20%
}
}
 @media only screen and (max-width:480px) {
 .product-detail-content h1 {
font-size:35px
}
 .product-detail-content h2 {
font-size:20px
}
 .product-detail-content figure {
margin:0 20px
}
 .product-detail-content figure img {
width:100%
}
 .product-detail-content .product-options a {
margin-bottom:20px
}
 .product-detail-content .product-section {
margin-top:0
}
 .product-detail-content .product-section .product-section-icons span {
display:block
}
 .product-detail-content .feature {
float:none;
width:auto;
border-bottom:1px solid #ccc
}
 .product-detail-content .feature:before {
display:none
}
 .product-detail-content .feature:last-child {
border:0
}
 .product-detail-content .feature .btn {
display:block
}
 .product-detail-content .feature br {
display:none
}
 .product-detail-photo {
height:100px
}
 #widgets .product-options a {
position:static!important
}
 #api-caption-1 {
bottom:20px
}
 #api-caption-2 {
margin-right:10px
}
}
#product-intro {
	height:300px;
	position:relative;
	margin:0 auto;
	line-height:1.2;
	padding-bottom:100px
}
#product-intro section {
	text-align:center;
	float:none
}
#product-intro ul {
	position:relative;
	right:10px
}
#product-intro ul li {
	display:block;
	margin-right:-20px;
	float:left;
}
#product-intro ul a {
	width:229px;
	height:229px;
	display:block;
	text-align:center;
	color:#FFF;
	position:relative;
	border-radius:50%;
	background-color:#74B24A;
	border:3px solid #fff;
}
#product-intro ul a.extra {
	height:190px;
	padding-top:70px
}
#product-intro ul a:hover {
	opacity:.9;
	filter:alpha(opacity=90)
}
#product-intro h2 {
	padding-top:44px;
	font-size:25px;
	margin:0 auto;
	position:relative;
	width:85%;
	z-index:1
}
#product-intro h3 {
	margin:5px 0 10px;
	font-size:18px;
	font-weight:normal;
	position:relative;
	z-index:1
}
#product-intro p {
	margin:5px auto 10px;
	color:#FFF;
	font-family:open_sansregular, Arial, Helvetica, sans-serif;
	font-size:15px;
	width:160px;
	position:relative;
	z-index:1
}
 @media only screen and (max-width:1023px) {
 #product-intro {
height:auto
}
#product-intro ul a {
display:inline-block;
width:220px;
height:220px
}
#product-intro h2 {
font-size:28px
}
#product-intro p {
width:140px;
font-size:18px
}
}
@media only screen and (max-width:768px) {
#product-intro {
padding-bottom:50px
}
#product-intro ul li:last-child {
display:block;
margin-top:-40px
}
#product-intro h2 {
padding-top:50px
}
}
@media only screen and (max-width:480px) {
#product-intro ul li {
display:block;
margin-top:-40px
}
#product-intro ul li:first-child {
margin-top:0
}
}
#icon-arrow-cta {
	background:#c2eaed!important;
	display:block;
	margin:0 auto;
	height:55px;
	width:55px;
	border-radius:50%;
	position:relative;
	top:25px;
	opacity:.7;
	filter:alpha(opacity=70);
	font-size:29px;
	line-height:62px;
	text-align:center;
	color:#34363d
}
#icon-arrow-cta:hover {
	opacity:1;
	filter:alpha(opacity=100)
}
#clients {
	height:239px;
	padding-bottom:0
}
#clients .product-clients h1 {
	margin-bottom:20px
}
#clients .product-clients h2 {
	margin-top:5px;
	font-size:24px
}
#clients-logo-table {
*zoom:1;
	width:885px;
	background:#fff;
	margin:0 auto
}
#clients-logo-table:after, #clients-logo-table:before {
	content:" ";
	display:table
}
#clients-logo-table:after {
	clear:both
}
#clients-logo-table a {
	border:none;
	float:left;
	width:205px;
	margin:20px 5px
}
#clients-logo-table a:hover {
	opacity:.75;
	filter:alpha(opacity=75)
}
@media only screen and (max-width:1023px) {
#clients {
height:auto
}
#clients h2 {
margin:20px 0 50px
}
#clients-logo-table {
width:100%;
text-align:center
}
#clients-logo-table a {
float:none;
display:inline-block
}
}
.avalability {
*zoom:1;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-size:12px;
	margin-bottom:40px;
	text-align:center;
	position:relative
}
.avalability:after, .avalability:before {
	content:" ";
	display:table
}
.avalability:after {
	clear:both
}
.avalability img {
	width:25px
}
.avalability h3 {
	margin:0;
	font-size:18px
}
.avalability div {
	width:33%;
	float:left
}
.avalability div:before {
	content:"";
	position:absolute;
	display:block;
	width:1px;
	top:0;
	bottom:0;
	background-color:#f0f0f0
}
.avalability div:first-child:before {
	display:none
}
#widgets .product-options a {
	position:relative;
	top:10px;
	right:10px;
	margin-right:7px
}
#widgets .widget-content {
	float:left
}
#widgets .widget-content .widget-builder {
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	display:none
}
#widgets .widget-content .widget-builder article {
	display:inline-block;
	border-radius:4px;
	border:1px solid #cacaca;
	width:219px;
	-moz-background-size:90% auto;
	-o-background-size:90% auto;
	-webkit-background-size:90% auto;
	background-size:90% auto;
	background-repeat:no-repeat;
	background-position:center 70%;
	height:265px;
	margin:40px 7px
}
#widgets .widget-content .widget-builder article:hover {
	cursor:pointer
}
#widgets .widget-content .widget-builder article:hover header {
	background-color:#cacaca
}
#widgets .widget-content .widget-builder article header {
	text-align:left
}
#widgets .widget-content .widget-builder article header a {
	color:#34363d;
	padding:16px;
	display:block;
	text-decoration:none;
	font-size:15px
}
#widgets .widget-content .widget-builder article header a span {
	font-size:13px
}
#widgets .widget-content .widget-builder article header:before {
	content:' ';
	background-image:url('images/widget_arrow.png');
	background-repeat:no-repeat;
	-moz-background-size:30px;
	-o-background-size:30px;
	-webkit-background-size:30px;
	background-size:30px;
	width:30px;
	height:30px;
	display:block;
	position:absolute;
	margin-left:180px;
	margin-top:10px;
-moz-transition:all .3s ease-in-out;
-o-transition:all .3s ease-in-out;
-webkit-transition:all .3s ease-in-out;
transition:all .3s ease-in-out
}
#widgets .widget-content .widget-builder article.widget-basic {
	background-image:url('images/widget_1.png')
}
#widgets .widget-content .widget-builder article.widget-leaderboard {
	background-image:url('images/widget_2.png')
}
#widgets .widget-content .widget-builder article.widget-skyscraper {
	background-image:url('images/widget_3.png')
}
#widgets .widget-content .widget-builder article.widget-square {
	background-image:url('images/widget_4.png')
}
#widgets .widget-content .widget-builder article.active {
	border:1px solid #9ee8ed;
	position:relative
}
#widgets .widget-content .widget-builder article.active header {
	background-color:#9ee8ed
}
#widgets .widget-content .widget-builder article.active header:before {
	-moz-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg)
}
#widgets .widget-content .widget-builder article.active:before, #widgets .widget-content .widget-builder article.active:after {
	content:'';
	width:0;
	height:0;
	border-left:20px solid transparent;
	border-right:20px solid transparent;
	margin-left:-20px;
	position:absolute;
	left:50%
}
#widgets .widget-content .widget-builder article.active:before {
	border-top:20px solid #9ee8ed;
	z-index:1;
	bottom:-20px
}
#widgets .widget-content .widget-builder article.active:after {
	z-index:2;
	border-top:20px solid #fff;
	bottom:-19px
}
#widgets .widget-content .widget-builder article .close-widget-opt-btn {
	border:0
}
#widgets .widget-content .nav.nav-tabs {
	visibility:hidden;
	display:none
}
#widgets .widget-content .navbar {
	margin:0;
	height:60px
}
#widgets .widget-content .navbar .logo-container {
	margin:0 auto;
	width:940px;
	position:relative
}
#widgets .widget-content .navbar .logo-container .logo-link {
	height:35px;
	margin-top:11px;
	position:absolute;
	top:50%
}
#widgets .widget-content .navbar .logo-container .sign-in-button {
	float:right;
	margin-top:12px
}
#widgets .widget-content .widget-input {
	float:right
}
#widgets .widget-content .widget-input input, #widgets .widget-content .widget-input select {
	background-color:#eaeaea;
	border-radius:0;
	border:none;
	outline:0
}
#widgets .widget-content .widget-label {
	display:inline
}
#flightsearch-widget-form .widget-options, #map-widget-form .widget-options {
	display:block
}
#snippet_searchpanel {
	float:right;
	width:420px;
	overflow:auto;
	margin:20px 20px 0
}
#snippet_searchpanel>div {
	margin:0 auto
}
#snippet_searchpanel .ss_searchpanel .ss_footer .ss_footer_getwidget {
	float:right;
	min-width:50px;
	visibility:hidden
}
#product-terms p {
	margin:3px 0;
	width:314px;
	float:right
}
#product-terms-info {
	visibility:hidden;
	font-style:italic;
	font-weight:bold
}
#product-terms-info.product-terms-info-active {
	visibility:visible
}
#products {
	padding-left:20px;
	width:450px
}
.widget-options {
	border:1px solid #9ee8ed;
	border-radius:0 0 4px 4px;
	display:none;
	overflow:hidden
}
.widget-options header {
	background-color:#9ee8ed;
	padding:10px
}
.widget-options header p {
	margin:0;
	line-height:160%;
	padding:0 10px 5px 5px
}
.widget-options header img {
	float:right;
	height:30px;
	margin-top:11px
}
.widget-options a {
	color:#29a8bb;
	text-decoration:underline
}
.widget-options a:hover {
	text-decoration:none
}
.widget-options .product-type {
	text-transform:capitalize;
	font-weight:bold
}
.widget-options .product-control {
	margin:25px 0 0 0;
	list-style-type:none;
	font-family:Arial, Helvetica, sans-serif;
	width:50%
}
.widget-options .product-control li {
	background-color:#eaeaea;
	background-image:url('images/Drag_Arrow.png');
	background-repeat:no-repeat;
	background-position:98% center;
	padding:6px;
	margin-bottom:4px;
	height:18px
}
.widget-options .product-control li input {
	float:left
}
.widget-options .product-control li input[type=checkbox] {
	margin-right:10px;
	padding:2px 0
}
.widget-options .product-control li label {
	text-indent:8px;
	cursor:move
}
.widget-options .product-opt-container {
	width:inherit
}
.widget-options .product-property {
	float:left;
	min-height:35px;
	width:inherit;
	margin-bottom:2px
}
.widget-options .property-wrapper {
	width:310px;
	float:right
}
.widget-options .property-wrapper p {
	margin:3px 0;
	font-style:italic;
	float:left
}
.widget-options .property-wrapper p input[type=checkbox] {
	margin-left:0;
	background:#fff
}
.widget-options .widget-label {
	height:30px;
	float:left;
	margin-bottom:10px
}
.widget-options #apiKeyValidation {
	display:none
}
.widget-options .product-properties {
*zoom:1;
	width:450px;
	margin-left:20px;
	margin-top:30px
}
.widget-options .product-properties:after, .widget-options .product-properties:before {
	content:" ";
	display:table
}
.widget-options .product-properties:after {
	clear:both
}
.widget-options .product-properties p {
	width:300px;
	float:right;
	text-align:left
}
.widget-options .product-properties input[type=text] {
	width:300px;
	background-color:#eaeaea;
	background-repeat:no-repeat;
	background-position:98% center;
	padding:6px;
	margin-bottom:4px;
	height:18px;
	border:none;
	outline:0
}
.widget-options .product-properties select {
	width:310px;
	background-color:#eaeaea;
	background-repeat:no-repeat;
	background-position:98% center;
	padding:6px;
	margin-bottom:10px;
	height:30px;
	border:none;
	float:right;
	outline:0
}
.widget-options .product-properties button {
	height:50px;
	width:313px;
	padding-left:25px;
	color:#fff;
	font-family:Arial, 'open_sansregular', 'Liberation Sans', Freesans, sans-serif;
	font-size:17px;
	text-align:left;
	background-image:url('images/FeaturesHP_Arrow.png');
	background-position:97% center;
	background-repeat:no-repeat;
	background-color:#34363d;
	border-radius:4px;
	border:0;
	margin:15px 0 30px 0;
	float:right;
	outline:0
}
.widget-options .product-properties button:hover {
	background-color:#4d5059
}
.widget-options .code-wizard-content {
	font-size:14px
}
.widget-options .code-container {
	clear:both
}
.widget-options .code-container .tab-content {
	background:#eaeaea;
	border-radius:4px;
	margin:0 auto 20px;
	padding:35px;
	width:810px;
	font-size:15px;
	color:#000
}
.widget-options .code-container .tab-content #flightCode, .widget-options .code-container .tab-content #exampleCode {
	font-family:Calibri, Arial, Helvetica, sans-serif
}
#widget-documentation {
	margin-left:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px
}
#widget-documentation a {
	color:#29a8bb;
	text-decoration:underline
}
#widgets-signup .get_api_key_form {
	width:auto;
	margin:0;
	padding:0
}
.content .product-properties {
	margin-left:0
}
.content #snippet_searchpanel {
	width:350px;
	margin-right:0
}
@media only screen and (max-width:1023px) {
#snippet_searchpanel {
float:none;
width:100%
}
}
#about-us .column-right, #about-us .column-left {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	margin-bottom:40px
}
#about-us .column-left {
	width:52%;
	float:left;
	padding-right:15px
}
#about-us .column-right {
	width:48%;
	float:right;
	padding-left:20px
}
#about-us-circles {
	list-style:none;
	padding:0;
	margin:15px 0 0 0;
	text-align:center
}
#about-us-circles>li {
	background:#9ee8ed;
	width:140px;
	height:140px;
	border-radius:50%;
	text-align:center;
	display:inline-block;
	margin:0;
	font-family:open_sansregular, Arial, Helvetica, sans-serif;
	vertical-align:top
}
#about-us-circles>li:first-child {
	margin-right:-8px
}
#about-us-circles>li:last-child {
	margin-left:-8px
}
#about-us-circles>li#blue {
	background:#5be2ed
}
#about-us-circles>li>span {
	display:block;
	text-align:center;
	padding:37px 15px 0;
	line-height:1.4
}
#table-images-offices {
	padding:0;
	margin:0 0 -5px 0;
	list-style:none;
	display:inline-block
}
#table-images-offices>li {
	display:block;
	float:left;
	width:132px;
	padding-right:5px;
	margin:0
}
@media only screen and (max-width:1023px) {
}
@media only screen and (max-width:768px) {
#about-us .column-left, #about-us .column-right {
position:static;
float:none;
width:auto;
padding:0
}
#about-us-circles {
float:none;
text-align:center
}
#about-us-images {
width:100%;
margin-right:0
}
#table-images-offices {
text-align:center
}
#table-images-offices>li {
float:none;
display:inline-block
}
}
html.documentation {
	background:#eaeaea
}
@media only screen and (max-width:1400px) {
html.documentation {
background-color:#fff
}
}
.doc-content {
*zoom:1
}
.doc-content:after, .doc-content:before {
	content:" ";
	display:table
}
.doc-content:after {
	clear:both
}
.doc-content pre {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	text-wrap:normal;
	background-color:#333;
	overflow:scroll;
	-ms-word-wrap:normal;
	word-wrap:normal;
	padding:10px 0
}
.doc-content ul pre {
	width:93%!important
}
.doc-content.doc-content-nomenu {
	width:940px;
	margin:0 auto;
	float:none;
	padding:85px 0 100px;
	position:relative;
	top:0;
	left:0
}
.doc-content p, .doc-content li {
	line-height:1.5em
}
.doc-content h1 {
	font-size:30px;
	font-weight:normal;
	width:100%;
	padding-top:10px;
	margin-top:15px
}
.doc-content h3 {
	font-weight:normal;
	color:#34363d
}
.doc-content table {
	margin-bottom:15px
}
.doc-content table thead {
	background-color:#c2eaed
}
.doc-content table thead th {
	min-width:90px;
	padding:10px 0
}
.doc-content table tr td {
	background:#f9f9f9;
	padding:5px 10px 5px 10px
}
.doc-content table tr:nth-of-type(even) td {
background:#eaeaea
}
.one-column {
	background-color:#fff
}
.one-column #doc-api-cover {
	display:none
}
#doc-side-nomenu {
	width:230px;
	display:none
}
#docs-api a:hover {
	text-decoration:underline
}
#doc-api-cover {
	width:50%;
	position:absolute;
	top:0;
	bottom:0;
	background-color:#fff;
	z-index:2
}
@media only screen and (max-width:1400px) {
#doc-api-cover {
display:none
}
}
.doc-method-section {
*zoom:1;
	font-size:14px;
	position:relative;
	z-index:3
}
.doc-method-section:after, .doc-method-section:before {
	content:" ";
	display:table
}
.doc-method-section:after {
	clear:both
}
.doc-method-section h1 {
	margin-top:0;
	padding-top:40px
}
.doc-method-section h2 {
	font-family:Arial, Helvetica, sans-serif;
	margin-top:30px;
	font-size:18px;
	font-weight:bold
}
.doc-method-section hr {
	height:0;
	color:#fff;
	background:#fff;
	font-size:0;
	border:0;
	border-top:#5be2ed dotted 2px;
	margin-top:0;
	margin-bottom:0;
	padding:0;
	box-shadow:none
}
.method-links, .method-description, .method-code-example {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	padding:30px;
	width:50%;
	float:left
}
.method-links, .method-description {
	padding-top:0;
	background-color:#fff;
	clear:left
}
@media only screen and (max-width:1400px) {
.method-links, .method-description, .method-code-example {
width:100%;
float:none
}
}
.method-links {
	margin:0
}
.method-links ol {
	margin:0 0 0 20px;
	padding:0
}
.method-description table {
	width:100%
}
.method-code-example {
	position:relative;
	font-size:14px;
	font-weight:normal;
	font-family:Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
	letter-spacing:-1px
}
.method-code-example:before {
	content:"";
	position:absolute;
	display:block;
	left:30px;
	right:30px;
	top:0;
	height:1px;
	border-top:#fff dotted 2px
}
.method-code-example h5 {
	font-size:14px;
	margin:0;
	padding:5px 0 5px 0
}
.method-code-example pre {
	background:none;
	height:auto;
	overflow:auto;
	padding-left:0;
	width:100%;
	white-space:pre-wrap;
	margin-top:0;
	margin-bottom:0
}
@media only screen and (max-width:1400px) {
.method-code-example {
margin:0 0 40px;
background-color:#eaeaea
}
.method-code-example:before {
display:none
}
}
#bg-column-doc-code {
	position:fixed;
	left:230px;
	background-color:#eaeaea;
	width:100%;
	height:100%
}
#bg-column-doc-text {
	position:fixed;
	left:230px;
	background-color:#fff;
	height:100%;
	width:820px
}
#bg-column-side-menu {
	position:fixed;
	width:230px;
	left:0;
	background-color:#29a8bb;
	height:100%;
	z-index:1;
	-webkit-transform:translateZ(0);
	transform:translateZ(0)
}
.doc-additional-content {
	padding:0 30px;
	width:940px
}
.doc-additional-content h2 {
	font-size:21px
}
.btn-download {
	padding:10px 20px 8px;
	border-radius:4px;
	background-color:#9ee8ed;
	display:inline-block;
	color:#fff
}
a.btn-download {
	color:#333
}
@media only screen and (max-width:1023px) {
.doc-additional-content {
width:auto
}
}
.example {
	margin-top:30px;
	margin-bottom:40px;
	text-align:center
}
.example a {
	color:#34363d
}
.example.logo a {
	text-decoration:none;
	font-style:italic
}
.example.logo img {
	position:relative;
	top:6px;
	margin-left:9px
}
ul.requirements {
	margin:20px 0 0;
	padding-left:20px
}
ul.requirements.links {
	padding-left:40px
}
ul.requirements.links li {
	margin-bottom:0
}
ul.requirements li {
	margin-bottom:20px
}
ul.requirements a {
	color:#34363d;
	text-decoration:underline
}
ul.requirements a:hover {
	color:#29a8bb
}
.footer-wrapper {
	margin:10px auto 35px
}
.footer-wrapper.bordered {
	border:1px dashed #797979
}
.skyscanner-footer {
	height:100px;
	padding:0 30px;
	font-size:12px;
	overflow:hidden
}
.skyscanner-footer a {
	text-decoration:underline;
	font-family:arial, sans-serif
}
.skyscanner-footer .links {
	line-height:1.5;
	position:relative;
	top:52px
}
.skyscanner-footer .links a {
	margin-right:20px
}
.skyscanner-footer .logo {
	float:right;
	margin-top:18px;
	font-style:italic;
	text-decoration:none
}
.skyscanner-footer .logo:hover {
	text-decoration:none
}
.skyscanner-footer img {
	position:relative;
	top:6px;
	margin-left:9px
}
.ssf-white {
	background-color:#fff;
	color:#34363d
}
.ssf-white a {
	color:#34363d
}
.ssf-dark {
	background-color:#34363d;
	color:#fff
}
.ssf-dark a {
	color:#fff
}
.ssf-dark-white {
	background-color:#118090;
	color:#fff
}
.ssf-dark-white a {
	color:#fff
}
.ssf-white-dark {
	background-color:#d2f4f0;
	color:#34363d
}
.ssf-white-dark a {
	color:#34363d
}
#terms-of-service ol {
	margin:0;
	padding:0;
	list-style:none
}
#terms-of-service ol li {
	margin-bottom:1em
}
#terms-of-service ol.alpha-type-list {
	list-style-position:inside
}
.jqplot-highlighter-tooltip {
	padding:10px!important;
	border-radius:4px;
	box-shadow:3px 3px 3px rgba(0, 0, 0, .1)
}
.jqplot-highlighter-tooltip p {
	margin:0;
	padding:0
}
.customers-drop-down {
	width:250px;
	padding:2px 4px 3px;
	border-radius:4px;
	border:1px solid #4d5059
}
.date-nav {
	margin-bottom:40px;
	text-align:right;
	padding:0 10px
}
.date-nav fieldset {
	display:inline-block;
	position:relative;
	border:none;
	padding:0;
	margin:0
}
.date-nav label {
	position:absolute;
	top:2px;
	left:2px;
	color:#4d5059
}
.date-nav input {
	font-size:12px;
	line-height:1.5;
	width:80px;
	padding:4px 10px 4px 25px;
	border:1px solid #29a8bb;
	border-radius:4px
}
.date-nav input, .date-nav .btn {
	margin-bottom:3px
}
.date-nav .btn {
	display:inline-block
}
@media only screen and (max-width:1023px) {
.date-nav {
text-align:left
}
}
#rprt-chart {
	padding-top:40px;
	clear:both
}
.rprt-summary {
*zoom:1;
	float:left;
	text-align:right;
	padding-left:50px
}
.rprt-summary:after, .rprt-summary:before {
	content:" ";
	display:table
}
.rprt-summary:after {
	clear:both
}
.rprt-summary span {
	float:left;
	min-width:150px;
	margin-right:20px;
	padding-right:20px;
	border-right:1px solid #d0d0d0
}
.rprt-summary span:last-child {
	border:none
}
.rprt-summary strong {
	font-family:open_sansregular, Arial, Helvetica, sans-serif;
	font-size:42px;
	line-height:1;
	color:#000;
	display:block
}
.rprt-summary em {
	display:block;
	line-height:1;
	color:#666;
	font-style:normal;
	font-family:open_sanslight, Arial, Helvetica, sans-serif;
	font-size:20px;
	margin-bottom:5px
}
.rprt-summary .title {
	display:none
}
@media only screen and (max-width:1023px) {
.rprt-summary {
float:none;
margin-bottom:20px;
padding-left:0
}
.rprt-summary em {
font-size:16px
}
.rprt-summary span {
min-width:100px
}
.rprt-summary strong {
font-size:32px
}
}
.service-msg {
	margin-bottom:30px;
	padding:5px;
	text-align:center;
	background-color:#8eca36;
	border-radius:4px;
	font-size:14px
}
.service-msg a {
	color:#fff
}
#rprt-details-chart {
	height:120px;
	margin:20px 0 40px
}
.rprt-download {
	text-align:right;
	padding-top:40px
}
div.jqplot-table-legend-swatch-outline {
	border:0!important;
	padding:1px 3px 1px 10px!important
}
.rprt-loader {
	width:100px;
	margin:0 auto;
	text-align:center
}
.rprt-loader div {
	width:12px;
	height:12px;
	border-radius:50%;
	margin:0 1px 0 0;
	display:block;
	right:-20px;
	top:0;
	display:inline-block;
	background-color:#8eca36;
	-webkit-animation:loading 1.5s cubic-bezier(.1, .85, .9, .15) infinite;
	animation:loading 1.5s cubic-bezier(.1, .85, .9, .15) infinite;
	-webkit-animation-delay:400ms;
	animation-delay:400ms
}
.rprt-loader div:first-child {
	-webkit-animation-delay:200ms;
	animation-delay:200ms;
	background-color:#39b6e6
}
.rprt-loader div:last-child {
	-webkit-animation-delay:600ms;
	animation-delay:600ms;
	background-color:#ffc700
}
@-webkit-keyframes loading {
0% {
-webkit-transform:scale(1)
}
50% {
-webkit-transform:scale(.3)
}
100% {
-webkit-transform:scale(1)
}
}
@keyframes loading {
0% {
transform:scale(1)
}
50% {
transform:scale(.3)
}
100% {
transform:scale(1)
}
}
.table-dashboard {
	width:100%;
	font-size:14px;
	margin-top:40px
}
.table-dashboard th {
	background-color:#f0f0f0
}
.table-dashboard td, .table-dashboard th {
	padding:7px 5px;
	border-bottom:1px solid #ddd
}
.td-value {
	text-align:right
}
.td-name {
	color:#666;
	text-align:left
}
th.td-name {
	color:#000
}
.td-change {
	text-align:left
}
td.td-change {
	font-size:11px
}
.change-minus {
	color:red
}
.change-plus {
	color:#8eca36
}
.change-na {
	color:#ccc
}
.percent-bar-wrap {
	width:120px;
	background-color:#f0f0f0;
	height:14px
}
.percent-bar {
	height:14px;
	background-color:#39b6e6
}
.td-ctype {
	color:#ddd
}
.td-icon {
	width:20px;
	color:#8eca36
}
.td-icon span {
	opacity:.5
}
.td-icon .icon-spinner2 {
	color:#39b6e6
}
tr:hover .td-icon span {
	opacity:1
}
tr:hover td {
	background-color:#fafafa
}
.fade {
	opacity:0;
-moz-transition:opacity .25s ease-in-out;
-webkit-transition:opacity .25s ease-in-out;
-o-transition:opacity .25s ease-in-out;
transition:opacity .25s ease-in-out
}
.fade:hover {
	opacity:1;
	filter:alpha(opacity=100)
}
.ico {
	background-repeat:no-repeat;
}
.principais {
	-moz-box-sizing:
 border-box;
	-webkit-box-sizing:
 border-box;
	box-sizing:
 border-box;
	float:left;
	width:33%;
}
.produtos {
	-moz-box-sizing:
 border-box;
	-webkit-box-sizing:
 border-box;
	box-sizing:
 border-box;
	color:#34363d;
	width:100%;
	padding:0 0 0 40px;
}
.container_12, h4 {
	color:#444;
}
.container_12, .infra {
	color:#666;
	font:13px/1.6 open_sansregular, Arial, Helvetica, sans-serif;
	text-align:left;
}
.geral{
	padding:13px 0;
	min-height:410px;
	height:auto;
	overflow:hidden;
	margin:0 auto;
	width:100%;
	background-color:#fff;
	text-align:center;
}	
.geral>h1{
		font-family:open_sanslight, arial, verdana !important; 	
		font-size:40px; 
}
.ball{
	background-color:#6C6 !important;
	opacity:0.7;
}
.ball:hover{
	opacity:1;
}
