@charset "utf-8";
/* CSS Document */
*{
	margin:0;
}
.imageminfra { 
           max-width: 2300px; 
           width: 100%; 
           height: auto; 
  }
.imageminfra img{
          max-width: 2300px;   /* Máximo da largura da imagem */
          width: 100%;
          max-height: auto;  /* Máximo da altura da imagem */
          min-height: auto;      /* Mínimo da altura, por padrão "auto" */
  }
.features {
	height: 769px;
	padding: 60px 0 40px;
	background: #25B88F;
	border-bottom: 1px solid #d8dbdf;
}
.features:before, .features:after {
	content: " ";
	/* 1 */
  display: table;/* 2 */
}
.features:after {
	clear: both;
}
.features h2 {
	font: 300 45px/51px "myriad-pro-n3", "myriad-pro", sans-serif;
	color: #FFF;
	text-align: center;
	margin: 0 0 30px;
}
.features .feature-list {
	float: left;
	width: 390px;
	padding: 0;
	margin: 23px 426px 12px;
	display:inline-flex;
}
.features .feature-list:before, .features .feature-list:after {
	content: " ";
	/* 1 */
  display: table;/* 2 */
}
.features .feature-list:after {
	clear: both;
}
.features .feature-list > li {
	list-style: none;
	font: 400 16px/15px "myriad-pro-n4", "myriad-pro", sans-serif;
	padding: 14px 4px 13px;
	margin: 0;
	border-bottom: 1px solid #e7e8e9;
	border-top: 1px solid #e7e8e9;
}
.features .feature-list > li > a {
	color: #fff;
}
.features .feature-list > li > a .icon-ticket, .features .feature-list > li > a .icon-chat, .features .feature-list > li > a .icon-book, .features .feature-list > li > a .icon-phone, .features .feature-list > li > a .icon-users, .features .feature-list > li > a .icon-bulb {
	color: #d8dbdf;
	margin: 10px 20px 30px 10px;
}
.features .feature-list > li > a:hover {
}
.features .feature-list > li > a:hover .icon-ticket, .features .feature-list > li > a:hover .icon-chat, .features .feature-list > li > a:hover .icon-book, .features .feature-list > li > a:hover .icon-phone, .features .feature-list > li > a:hover .icon-bulb, .features .feature-list > li > a:hover .glyphicon {
	color: #b4b8bc;
}
.features .feature-list > li.active {
	font-weight: bold;
}
.features .feature-list > li.active > a .icon-ticket, .features .feature-list > li.active > a .icon-chat, .features .feature-list > li.active > a .icon-book, .features .feature-list > li.active > a .icon-phone, .features .feature-list > li.active > a .icon-bulb, .features .feature-list > li.active > a .glyphicon {
	color: #b4b8bc;
}
.features .screens {
	position: relative;
	width: 684px;
	height: 522px;
	margin: 104px auto;
	background: url('../images/tela.png') no-repeat;
	z-index: 100;
}
.features .screens > li { 
	list-style: none;
	position: absolute;
	display: none;
	top: 28px;
	/* 28px to screen edge */
  left: 28px;
	/* 28px to screen edge */
  padding: 8px 0 0 0;
	/* 74 / 36 */
  margin: 0;
}
.features .screens > li:first-child {
	display: block;
}
.features .screens > li .popup {
	position: absolute;
	display: block;
	top: 50px;
	right: -95px;
	width: 253px;
	font: normal 14px/20px "Helvetica Neue", "Helvetica", sans-serif;
	color: #fff;
	padding: 16px 14px;
	background: #DA4A36;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.features .screens > li .popup:before {
	content: "";
	position: absolute;
	display: block;
	top: 50%;
	width: 10px;
	height: 19px;
	margin-top: -10px;
}
.features .screens > li .popup.arrow-left:before {
	left: -10px;
	background-image: url('../images/screen_popup_arrow_left.png');
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
 .features .screens > li .popup.arrow-left:before {
 background-image: url("../images/screen_popup_arrow_left_2x.png");
 background-size: auto auto;
}
}
.features .screens > li .popup.arrow-up:before {
	top: 0px;
	width: 19px;
	height: 10px;
	background-image: url('../images/screen_popup_arrow_up.png');
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
 .features .screens > li .popup.arrow-up:before {
 background-image: url("../images/screen_popup_arrow_up_2x.png");
 background-size: auto auto;
}
}
.features .screens > li .popup.arrow-up.insights:before {
	left: 52px;
}
.features .screens > li .popup.arrow-right:before {
	right: -10px;
	background-image: url('../images/screen_popup_arrow_right.png');
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
 .features .screens > li .popup.arrow-right:before {
 background-image: url("../images/screen_popup_arrow_right_2x.png");
 background-size: auto auto;
}
}
.features .screens > li .desc {
	position: absolute;
	display: block;
	top: 310px;
	left: -272px;
	width: 218px;
	height: 120px;
}
.features .screens > li .desc h3 {
	font: 400 20px/26px "myriad-pro-n4", "myriad-pro", sans-serif;
	color: #2c3137;
	margin: 0;
}
.features .screens > li .desc p {
	font-size: 14px;
	line-height: 22px;
	color: #6c7176;
	margin: 0;
}
.faces-bios {
	position: relative;
	width: 100%;
	min-width: 970px;
	padding: 90px 0 80px;
	margin: 0;
	background: #fff;
	border-bottom: 1px solid #d8dbdf;
}
.faces-bios h2 {
	font: 300 45px/51px "myriad-pro-n3", "myriad-pro", sans-serif;
	color: #4c5156;
	text-align: center;
	margin: 0 0 30px;
}
.faces-bios h5 {
	color: #4c5156;
	text-align: center;
	margin: 0 0 30px;
	font-weight: normal;
	font: 500 15px "myriad-pro";
}
.faces-bios .faces {
	padding: 0;
	margin: 0 0 40px;
}
.faces-bios .faces:before, .faces-bios .faces:after {
	content: " ";
	/* 1 */
  display: table;/* 2 */
}
.faces-bios .faces:after {
	clear: both;
}
.faces-bios .faces > li {
	list-style: none;
	float: left;
	width: 219px;
	height: 219px;
	padding: 0;
	margin: 0 0 0 21px;
}
.faces-bios .faces > li:first-child {
	margin-left: 0;
}
.faces-bios .faces > li > a {
	display: block;
	width: 219px;
	height: 219px;
	font: 700 18px/148px "myriad-pro-i7", "myriad-pro", sans-serif;
	color: #4C5156;
	font-style: italic;
	text-align: center;
	padding: 146px 0 0;
	background: url('../images/faces_sprite.jpg') no-repeat;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border-radius: 150px;
}
.faces-bios .faces > li > a:hover {
	text-decoration: none;
}
.faces-bios .faces > li#face-customer a {
	background-position: 0 0;
}
.faces-bios .faces > li#face-customer a:hover {
	background-position: 0 -229px;
}
.faces-bios .faces > li#face-customer a.active {
	background-position: 0 -458px;
}
.faces-bios .faces > li#face-agent a {
	background-position: -241px 0;
}
.faces-bios .faces > li#face-agent a:hover {
	background-position: -241px -229px;
}
.faces-bios .faces > li#face-agent a.active {
	background-position: -241px -458px;
}
.faces-bios .faces > li#face-manager a {
	background-position: -479px 0;
}
.faces-bios .faces > li#face-manager a:hover {
	background-position: -479px -229px;
}
.faces-bios .faces > li#face-manager a.active {
	background-position: -479px -458px;
}
.faces-bios .faces > li#face-ceo a {
	background-position: -720px 0;
}
.faces-bios .faces > li#face-ceo a:hover {
	background-position: -720px -229px;
}
.faces-bios .faces > li#face-ceo a.active {
	background-position: -720px -458px;
}
.faces-bios .bios {
	clear: both;
	padding: 0;
	margin: 0;
}
.faces-bios .bios:before, .faces-bios .bios:after {
	content: " ";
	/* 1 */
  display: table;/* 2 */
}
.faces-bios .bios:after {
	clear: both;
}
.faces-bios .bios > li {
	list-style: none;
	padding: 0;
	margin: 0;
	display: none;
}
.faces-bios .bios > li:before, .faces-bios .bios > li:after {
	content: " ";
	/* 1 */
  display: table;/* 2 */
}
.faces-bios .bios > li:after {
	clear: both;
}
.faces-bios .bios > li:first-child {
	display: block;
}
.faces-bios .bios > li .bio {
	float: left;
	width: 550px;
}
.faces-bios .bios > li .bio h3 {
	font: 400 24px/32px "myriad-pro-n4", "myriad-pro", sans-serif;
	margin: 20px 0 10px;
}
.faces-bios .bios > li .bio p {
	font-size: 16px;
	line-height: 24px;
	color: #4c5156;
}
.faces-bios .bios > li .aside {
	float: right;
	width: 370px;
	height: 203px;
	padding: 18px 0 0 52px;
	background: url('file:///C|/Meus Sites/kayako/kayako/media.kayako.com/site3/img/homepage/quote-bracket.png') no-repeat;
}
.faces-bios .bios > li .aside .quote {
	font: 400 24px/30px "myriad-pro-i4", "myriad-pro", sans-serif;
	color: #228aa9;
	font-style: italic;
}
.faces-bios .bios > li .aside img {
	float: left;
	margin: 0 15px 0 0;
}
.faces-bios .bios > li .aside .name {
	font-size: 14px;
	line-height: 14px;
	color: #6c7176;
	margin: 0 0 2px;
}
.faces-bios .bios > li .aside .title {
	font-size: 12px;
	line-height: 18px;
	color: #6c7176;
	font-style: italic;
	margin: 0;
}
*:-o-prefocus, .faces-bios h2 {
 font-size: 39px;
}
*:-o-prefocus, .faces-bios .bios > li .aside .quote {
 font-size: 21px;
}
.container p{
	font-size:16px;
	line-height:21px;
	color:#4C5156;
}
.container h4{
	color:#da4a38;
	font-weight:700;
}