@charset "utf-8";
/* CSS Document */
body,html{
	width:100%;
	height:100%;
	overflow:hidden;
	font-family:"Open sans";
}
.container-fluid{
	width:100%;
	padding:0px;
}
.container-fluid img{
	max-width:100%;
}
.botao:hover{
	opacity:1;
}
.col-xs-5{
	position:absolute;
	top:10%;
	left:53%;
	right:40%;
	bottom:40%;
	font-size:18px;
	color:#FBF8F8;
	text-align:right;
}
.col-xs-8{
	position:absolute;
	top:24%;
	left:-5%;
	right:40%;
	bottom:40%;
	font-size:18px;
	color:#FBF8F8;
	line-height:0px;
	text-align:right;
}
.col-xs-8 h1{
	font-size:29px;
}
@media (min-width:1200px){
	.botao{
	position:absolute;
	top:42%;
	left:40%;
	right:40%;
	bottom:40%;
	opacity:0.8;
}
.col-xs-5{
	font-size:17px;
	text-align:right;
}
.col-xs-8{
	font-size:17px;
	line-height:0px;
	text-align:right;
}

}
@media (max-width:980px){
	.botao{
	position:absolute;
	top:22%;
	left:40%;
	right:40%;
	bottom:40%;
	opacity:0.8;
}
.col-xs-5{
	font-size:13px;
	text-align:right;
}
.col-xs-8{
	font-size:13px;
	line-height:0px;
	text-align:right;
}

}
@media (max-width:800px){
	.botao{
	position:absolute;
	top:18%;
	left:40%;
	right:40%;
	bottom:40%;
	opacity:0.8;
}
.col-xs-5{
	font-size:10px;
	text-align:right;
}
.col-xs-8{
	font-size:10px;
	line-height:0px;
	text-align:right;
}

}
@media (max-width:768px){
	.botao{
	position:absolute;
	top:23%;
	left:40%;
	right:40%;
	bottom:40%;
	opacity:0.8;
}
.col-xs-8{
	top:16%
	font-size:15px;
	line-height:0px;
	text-align:right;
}
.col-xs-8 h1{
	font-size:15px;
}

}
@media (max-width:360px){
	.botao{
	position:absolute;
	top:16%;
	left:40%;
	right:40%;
	bottom:40%;
	opacity:0.8;
}
.col-xs-5{
	font-size:4px;
	text-align:right;
}
.col-xs-8{
	top:14%
	font-size:4px;
	line-height:0px;
	text-align:right;
	margin-top:5px;
	
}
.col-xs-8 h1{
	font-size:6px;
}





